<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Мессенджер</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap"
          rel="stylesheet">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/popper.min.js"></script>

    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <script src="/static/stomp.umd.min.js"></script>
    <script src="/static/sockjs.min.js"></script>

    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
    <link rel="stylesheet" href="/static/chat-style.css">

    <style>
        .border-select {
            border-width: 12px !important;
        }
    </style>
</head>
<body id="id-body">
<script src="/static/emoji.js"></script>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container-fluid main-font mt-3">
    <div class="main-font p-2">
        <ul class="nav nav-underline">
            <li class="nav-item">
                <a id="nav-new-orders-tab" class="nav-link" href="/new-messenger?tab=new-orders">Новые заказы<span
                        class="fs-5" id="nav-new-orders-tab-count"></span></a>
            </li>
            <li class="nav-item">
                <a id="nav-admin-tab" class="nav-link" href="/new-messenger?tab=admin">Администрация<span
                        class="fs-5" id="nav-admin-tab-count"></span></a>
            </li>
            <li class="nav-item">
                <a id="nav-orders-tab" class="nav-link" href="/new-messenger?tab=orders">Заказы в работе<span
                        class="fs-5" id="nav-orders-tab-count"></span></a>
            </li>
            <li class="nav-item">
                <a id="nav-special-tab" class="nav-link" href="/new-messenger?tab=special">Спец. чаты<span
                        class="fs-5" id="nav-special-tab-count"></span></a>
            </li>
        </ul>
    </div>
    <hr class="m-0"/>
</div>
<div class="container-fluid mt-3 ps-3 pe-3">
    <div class="row mt-3">
        <div class="col-12 col-md-5 col-lg-4 col-xl-4 mb-4">
            <div class="input-group mb-3">
                <input id="search-input" type="text" class="form-control" placeholder="Поиск в чате">
                <button id="search-input-clear" class="btn btn-outline-secondary" type="button"
                        onclick="onSearchBarClearBtnClick()">&#10060;
                </button>
                <button id="search-input-search" class="btn btn-outline-secondary" type="button"
                        onclick="onSearchBarBtnClick()">&#128269;
                </button>
                <button type="button" class="ms-2 btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#show-notes-modal" onclick="loadNotes(null)">
                    &#128203;
                </button>
            </div>
            <div style="min-height: 600px; max-height: 600px; overflow: scroll">
                <ul id="chat-window" class="list-group mt-2 mb-2">
                </ul>
                <div id="chat-loader-spin" class="d-flex justify-content-center mt-2">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="chat-load-more" class="d-flex justify-content-center mt-2">
                    <button id="chat-load-more-btn" type="button" class="btn btn-primary"
                            onclick="onLoadNewChatsBtnClick()">Загрузить ещё
                    </button>
                </div>
            </div>
            <hr/>
            <a id="view-all-message-in-tab" href="/new-messenger-all-viewed">Отметить все как прочитанные</a>
        </div>
        <div class="col-12 col-md-7 col-lg-8 col-xl-8 mb-4">
            <div id="chat-windows" class="card fs-6">
                <div class="card-header fw-bold main-font">
                    <span id="note-chat-header" class="ms-2 me-3 d-none"></span>
                    <span id="chat-name" class="m-0">Выберите чат для загрузки</span>
                </div>
                <div id="chat-additional-info" class="row p-2 main-font">
                    <div class="col-6 mt-0 d-flex align-items-center">
                        <a id="additional-view-full">
                            <span class="fw-bold text-nowrap">Номер ТЗ: </span>
                            <span class="ms-1 text-nowrap" id="additional-tech-number"></span>
                        </a>
                    </div>
                    <div class="col-6 mt-0 d-flex justify-content-center d-sm-block"><span id="additional-order-status"><button
                            class="btn btn-success">В работе</button></span></div>
                    <div class="col-12 col-sm-6 mt-2"><span class="fw-bold">Тип работы:</span> <span
                            id="additional-work-type"></span></div>
                    <div class="col-12 col-sm-6 mt-2"><span class="fw-bold">Дисциплина:</span> <span
                            id="additional-discipline"></span></div>
                    <div class="col-12 col-sm-6 mt-2"><span class="fw-bold">Срок сдачи (СД):</span> <span
                            id="additional-deadline"></span></div>
                    <div class="col-12 col-sm-6 mt-2"><span class="fw-bold">Промежуточный СД: </span> <span
                            id="additional-intermediate-deadline"></span></div>
                    <div class="col-12 col-sm-12 mt-2"><span class="fw-bold">Дополнительные этапы сдачи:</span> <span
                            id="additional-dates"></span></div>
                </div>
                <hr/>
                <div id="scroll-window" class="card-body"
                     style="min-height: 550px; max-height: 550px; overflow: scroll;">
                    <div>
                        <div id="message-load-more" class="d-flex justify-content-center mb-2">
                            <button type="button" class="btn btn-primary" onclick="onLoadMoreMessagesBtnClick()">
                                Загрузить ещё
                            </button>
                        </div>
                        <div id="message-loader-spin" class="d-flex justify-content-center mb-2">
                            <div class="spinner-border" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                    </div>
                    <div id="messages-window">
                    </div>
                </div>
                <div id="message-div" class="row p-3 mt-2">
                    <div class="col-12 col-lg-8">
                        <textarea id="message-area" class="form-control" rows="7"
                                  style="min-height: 100%; min-width: 100%" data-emoji-picker="true"></textarea>
                    </div>
                    <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
                        <div class="input-group input-group-lg">
                            <input id="file-area" type="file" class="form-control col-6 col-sm-12 mt-2">
                        </div>
                        <div id="loaded-file-area" class="mt-2 mb-1"></div>
                        <div class="row mt-2">
                            <button id="send-btn" class="btn btn-primary col-12 col-sm-12" onclick="sendMessage()">
                                Отправить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Модалка просмотра всех заметок-->
    <div class="modal fade" id="show-notes-modal" tabindex="-1" aria-labelledby="show-notes-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-lg-down modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="show-notes-modal-title">Просмотр всех заметок.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="show-notes-modal-body">
                    <div class="container-fluid" id="notes-content">

                    </div>
                    <div id="notes-loader-spin" class="d-flex justify-content-center mt-2">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show-create-note-modal" onclick="clearNote()">Создать заметку без привязки к чату</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <!--Модалка создания заметок-->
    <div class="modal fade" id="show-create-note-modal" tabindex="-1" aria-labelledby="show-create-note-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen-sm-down modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="show-create-note-title">Создание / изменение заметки.</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="show-create-note-modal-body">
                    <input disabled hidden id="note-id" />
                    <input disabled hidden id="note-chat-id" />
                    <div class="input-group mb-3">
                        <span class="input-group-text">Чат</span>
                        <input disabled type="text" class="form-control" id="note-chat-name" placeholder="Не назначен.">
                    </div>
                    <div class="mb-3">
                        <label for="note-text" class="form-label">Текст заметки.</label>
                        <textarea class="form-control" id="note-text" style="min-height: 300px; height: 80%"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#show-notes-modal" onclick="saveNote()">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="notification-container" class="toast-container position-fixed top-0 end-0 p-3">

</div>
<script src="/static/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">
    new EmojiPicker();

    let file = document.getElementById("file-area");
    let textArea = document.getElementById("message-area");
    let viewAllInTab = document.getElementById("view-all-message-in-tab");

    const notificationAudio = new Audio("/static/notification.mp3");

    const userId = [[${userId}]];
    const isAdmin = [[${isAdmin}]];
    const isOwner = [[${isOwner}]];

    const context = {
        userId: userId,
        chatTab: null,
        chatId: null,
        isAdmin: isAdmin,
        isOwner: isOwner
    }
</script>
<script src="/static/new-chat-script.js"></script>
<script>
    function processWsNotification(body) {
        console.log("новое сообщение", body)

        loadNewMessageInfo()

        if (body.type === "message") {
            appendWSMessage(body.value);
        }

        if (body.type === "new-chat") {
            notificationAudio.play();
            showNotification(body.value, "Вас добавили в новый чат.", "Обновите страницу чтобы увидеть новый чат.")
        }

        if (body.type === "banned") {
            alert("Вы заблокированы.")
        }
    }

</script>
<script src="/static/websocket.js"></script>
<script>

    context.chatTab = getTab();
    viewAllInTab.setAttribute("href", `/new-messenger-all-viewed?tab=${getTab()}`)

    activateTab();
    hideAdditionalOrderData();
    hideChatNewMessagesSpinner();
    hideMessageLoadMoreBtn();
    loadNewMessageInfo();

    if (getUrlChatId() !== null) {
        onLoadChatById(parseInt(getUrlChatId()));
    } else {
        onLoadNewChatsBtnClick();
    }

    if (window.File && window.FileReader && window.FileList && window.Blob) {
        file.addEventListener('change', handleBigFileSelect, false);
    } else {
        alert('Данный браузер не поддерживает загрузку файлов!');
    }

    function handleBigFileSelect(evt) {
        if (file.files.length != 1) {
            alert("Вы указали неверное кол-во файлов");
            return;
        }

        const formdata = new FormData();
        formdata.append("file", file.files[0], file.files[0].name);

        const requestOptions = {
            method: "POST",
            body: formdata,
            redirect: "follow"
        };

        fetch("/api/messenger/file-save-form", requestOptions)
            .then((response) => response.text())
            .then((result) => handleFileSaved(parseInt(result), file.files[0].name))
            .catch((error) => console.error(error));


        $("#loaded-file-area").append(
            `<div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>`
        );
    }

    function deleteAttachment() {
        context.fileLoaded = false;
        context.fileName = null;
        context.fileAttachmentId = null;

        $("#loaded-file-area").empty();
    }

    function handleFileSaved(fileId, filename) {
        deleteAttachment();

        context.fileLoaded = true;
        context.fileAttachmentId = fileId;
        context.fileName = filename;

        alert("Файл успешно загружен.")

        $("#loaded-file-area").empty();

        let extFilename = filename.length > 50 ? filename.substring(0, 25) + "..." + filename.substring(filename.length - 25) : filename;
        let fileLoadedElement = `
            <span class="badge text-bg-success" style="text-wrap: auto;">Загружен файл ${extFilename}
                <a id="delete-attachment" class="ms-2 p-1 btn btn-warning" type="button" style="font-size: 10px;" onclick="deleteAttachment()"><strong>Удалить</strong></a>
            </span>
        `;

        $("#loaded-file-area").append(fileLoadedElement)
    }

    function handleWsError(e) {
        console.error("Ошибка: ", e, "переключаем на SockJs");
        context.stomp = connectToStompJs(context.stomp);
    }

    context.stomp = connectToWebSocket(handleWsError);

    function sendMessage() {
        let attachments = [];

        if (context.fileLoaded === true) {
            attachments.push({
                fileAttachmentId: context.fileAttachmentId
            });
        }

        if (textArea.value.length > 0 || context.fileLoaded) {
            context.stomp.publish({
                destination: "/app/chat",
                body: JSON.stringify({
                    userId: context.userId,
                    chatId: context.chatId,
                    message: textArea.value,
                    attachments: attachments
                })
            });

            file.value = '';
            textArea.value = '';

            deleteAttachment();

            $("#loaded-file-area").empty();
        }

        textArea.focus();
    }
</script>
</body>
</html>