<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${orderClosedShowError}">
        Данный заказ уже распределён.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="techNumber">Номер ТЗ</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="techNumber" readonly th:value="${order.getTechNumber()}"
                   type="text">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="workType">Тип работы</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="workType" readonly th:value="${order.getWorkType()}" type="text">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="discipline">Дисциплина</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="discipline" readonly th:value="${order.getDiscipline()}"
                   type="text">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="subject">Тема</label>
        <div class="col-sm-10">
            <textarea class="form-control-plaintext" id="subject" readonly rows="2"
                      th:text="${order.getSubject()}"></textarea>
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="originality">Оригинальность</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="originality" readonly th:value="${order.getOriginality()}"
                   type="number">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="verificationSystem">Система проверки</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="verificationSystem" readonly th:value="${order.getVerificationSystem()}"
                   type="text">
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label class="col-sm-2 col-form-label" for="amount">Объем работы (страниц)</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="amount" readonly th:value="${order.getAmount()}"
                   type="text">
        </div>
    </div>
    <div class="mb-3 mt-3 row" th:if="${order.getVerifyPlanOnAccept()}">
        <label class="col-sm-2 col-form-label" for="verifyPlanOnAccept">Согласование плана:</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="verifyPlanOnAccept" readonly value="В день получения ТЗ (заказа)"
                   type="text">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="intermediateDeadline">Промежуточные сроки сдачи</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="intermediateDeadline" readonly th:value="${#temporals.format(order?.getIntermediateDeadline(), 'yyyy-MM-dd HH:mm')}"
                   type="datetime-local">
        </div>
    </div>
    <div class="mb-3 mt-3 row">
        <label class="col-sm-2 col-form-label" for="additionalDates">Дополнительный этапы сдачи</label>
        <input hidden id="additionalDates" th:value="${order.getAdditionalDates()}" type="text">
        <div class="col-sm-9" id="additionalDatesDiv">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="deadline">Окончательный срок сдачи</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="deadline" readonly th:value="${#temporals.format(order?.getDeadline(), 'yyyy-MM-dd HH:mm')}"
                   type="datetime-local">
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <p class="col-sm-2 col-form-label">Файлы заказа:</p>
        <div class="col-sm-10">
            <div class="row mb-3" th:each="d : ${order.getAttachments()}">
                <a target="_blank" th:href="|/load-file/| + ${d.getAttachmentId()}"
                   th:text="${d.getAttachmentName()}"></a>
            </div>
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="other">Дополнительные требования и пожелания</label>
        <div class="col-sm-10">
            <textarea class="form-control-plaintext" id="other" readonly rows="7"
                      th:text="${order.getOther()}"></textarea>
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="violationsInformation">Штрафы</label>
        <div class="col-sm-10">
            <textarea class="form-control-plaintext" id="violationsInformation" readonly rows="7"
                      th:text="${order.getViolationsInformation()}"></textarea>
        </div>
    </div>
    <div class="row mb-3 mt-3">
        <label class="col-sm-2 col-form-label" for="authorCost">Стоимость для автора</label>
        <div class="col-sm-10">
            <input class="form-control-plaintext" id="authorCost" readonly th:value="${authorsCost}"
                   type="number">
        </div>
    </div>

    <script>
        let additionalDateDiv = document.getElementById(`additionalDatesDiv`);
        let additionalDate = document.getElementById(`additionalDates`);
        let additionalDateCount = 0;

        function createAdditionalDate(id, isNew) {
            let div = document.createElement("div");
            div.id = `additional-date-${id}`;
            div.classList.add("row");
            if (isNew) {
                div.classList.add("bg-warning")
            }
            div.innerHTML =
                `<div class="col-6">
                    <input readonly id="additional-date-text-${id}" type="text" class="form-control" placeholder="Что сделать">
                </div>
                <div class="col-6">
                    <input readonly id="additional-date-time-${id}" type="datetime-local" class="form-control">
                </div>`
            additionalDateDiv.append(div);
        }

        function loadSavedAdditionalDates(jsonArray) {
            for (let i = 0; i < jsonArray.length; i++) {
                createAdditionalDate(i, false);
                document.getElementById(`additional-date-text-${i}`).value = jsonArray[i].text;
                document.getElementById(`additional-date-time-${i}`).value = jsonArray[i].time;
            }
            additionalDateCount = jsonArray.length;
        }

        function loadAdditionalDates() {
            let savedData = additionalDate.value;
            if (savedData !== "") {
                loadSavedAdditionalDates(JSON.parse(savedData));
            }
        }

        loadAdditionalDates();
    </script>
</div>
</body>