<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Номер</th>
            <th scope="col">Запрос</th>
            <th scope="col">Ответ</th>
            <th scope="col">Ошибка</th>
            <th scope="col">Файл для проверки</th>
            <th scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${log.getId()}"></th>
            <td><pre th:text="${log.getRequestJson()}"></pre></td>
            <td><pre th:text="${log.getResponseJson()}"></pre></td>
            <td><pre th:text="${log.getErrorText()}"></pre></td>
            <td>
                <a th:if="${log.getFileId()}" th:href="|/load-file/| + ${log.getFileId()}" target="_blank">Файл</a>
                <p th:unless="${log.getFileId()}" th:text="|Файл не приложен|"></p>
            </td>
            <td th:text="${{log.getCreatedAt()}}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>