<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="row">
        <h1>Вы заблокированы.</h1>
        <p>Блокировка могла произойти по ошибке системы проверки сообщений, для уточнения обратитесь к
            администратору.</p>
        <p><strong>Причина блокировки:</strong></p>
        <pre th:utext="${ban.getReason()}"></pre>
        <a class="mt-3 btn btn-primary" href="/logout">Выйти</a>
    </div>
</div>
</body>
</html>