<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
    <script src="/static/popper.min.js"></script>


    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <style>
        .text-bg-light-blue {
            background-color: #bbdef0;
            color: black;
        }

        .text-bg-light-green {
            background-color: #00ac2499;
            color: black;
        }

        .text-bg-light-orange {
            background-color: #ffe64bcc;
            color: black;
        }
    </style>
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>

<div class="container mt-3">
    <div class="alert alert-primary" role="alert"
         th:if="${orderCreated}"
         th:text="|Заказ создан. Номер заказа № | + ${orderCreated}">
    </div>
    <div class="alert alert-primary" role="alert"
         th:if="${orderUpdated}"
         th:text="|Заказ изменён. Номер заказа № | + ${orderUpdated}">
    </div>
    <h3 th:text="|Заказ №| + ${order.getTechNumber()} + |. Выбор авторов и кетчера.|"></h3>
    <div class="row">
        <div class="col-12 col-lg-5">
            <div class="container g-3 border">
                <p>Отметьте кетчера, который создал заказ.</p>
                <div class="form-check mb-2" th:each="user, stat : ${users}">
                    <input class="catcher-selection form-check-input"
                           name="catcher-selection"
                           th:attr="idValue=${user.getId()}"
                           th:checked="${user.getChecked()}"
                           th:id="|user-| + ${user.getId()}"
                           th:value="${user.getId()}"
                           type="radio">
                    <label class="form-check-label" th:for="|user-| + ${user.getId()}"
                           th:text="${user.getFio()} + | (| + ${user.getUsername()} + |)|"></label>
                </div>
                <button class="btn btn-primary mt-3 mb-3" id="catcher-submit" th:disabled="${notDistributionStatus}">
                    Назначить кетчера
                </button>
            </div>
        </div>

        <div class="col-12 col-lg-7">
            <div class="container border">
                <p class="mt-2">Отметьте тех авторов, которым хотите предложить данный заказ.</p>
                <p>Обозначение: <strong><span class="badge text-bg-light-green">напишет на 5</span>, <span
                        class="badge text-bg-light-orange">напишет на 4-5</span>, <span
                        class="badge text-bg-light-blue">готов рассмотреть</span></strong>.
                </p>
                <div class="alert alert-danger" role="alert" th:if="${notDistributionStatus}">
                    Статус заказа <strong th:text="${orderStatusName}"></strong>. Невозможно предложить заказ другим
                    авторам.
                </div>
                <div th:class="|row border pt-2 pb-2 | + ${author.getBgColor()}"
                     th:each="author, stat : ${authors}"
                     th:if="${author.getBgColor() != ''}">
                    <div class="col-12 col-md-4 mb-md-0 mb-2 d-flex align-items-center">
                        <input class="author-selection form-check-input h5 me-2"
                               th:attr="idValue=${author.getId()}, fee=${-1}"
                               th:checked="${author.getChecked()}"
                               th:disabled="${author.getChecked() || notDistributionStatus}"
                               th:id="|author-| + ${author.getId()}"
                               type="checkbox">
                        <label class="form-check-label fs-5"
                               th:for="|author-| + ${author.getId()}"
                               th:text="${author.getUsername()}"></label>
                    </div>
                    <div class="col-12 col-md-4 mb-md-0 mb-2 d-flex align-items-center"
                         th:unless="${author.getChecked() || notDistributionStatus}">
                        <input class="author-selection-fee form-control"
                               onchange="changeAuthorFee(event)"
                               placeholder="Другая стоимость"
                               th:attr="idValue=${author.getId()}, targetAuthor='author-' + ${author.getId()}"
                               th:disabled="${author.getChecked() || notDistributionStatus}"
                               type="number">
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center text-break"
                         th:unless="${author.getChecked() || notDistributionStatus}">
                        Сохраненённое значение: <span class="fs-6 badge text-bg-light"
                                                      th:id="|author-fee-| + ${author.getId()}"
                                                      th:text="|Нет|"></span>
                    </div>
                    <div class="col-12 col-md-8 d-flex align-items-center"
                         th:if="${author.getChecked()}">
                        <p class="m-0 fs-5">Запрос отправлен автору.</p>
                    </div>
                </div>
                <button aria-controls="authors-without-mark"
                        aria-expanded="false"
                        class="btn btn-primary w-100 mt-1 mb-1"
                        data-bs-target="#authors-without-mark"
                        data-bs-toggle="collapse"
                        role="button">
                    Показать авторов, у которых не указана дисциплина заказа.
                </button>
                <div class="collapse" id="authors-without-mark">
                    <div class="row border pt-2 pb-2"
                         th:each="author, stat : ${authors}"
                         th:if="${author.getBgColor() == ''}">
                        <div class="col-12 col-md-4 mb-md-0 mb-2 d-flex align-items-center">
                            <input class="author-selection form-check-input h5 me-2"
                                   th:attr="idValue=${author.getId()}, fee=${-1}"
                                   th:checked="${author.getChecked()}"
                                   th:disabled="${author.getChecked() || notDistributionStatus}"
                                   th:id="|author-| + ${author.getId()}"
                                   type="checkbox">
                            <label class="form-check-label fs-5"
                                   th:for="|author-| + ${author.getId()}"
                                   th:text="${author.getUsername()}"></label>
                        </div>
                        <div class="col-12 col-md-4 mb-md-0 mb-2 d-flex align-items-center"
                             th:unless="${author.getChecked() || notDistributionStatus}">
                            <input class="author-selection-fee form-control"
                                   onchange="changeAuthorFee(event)"
                                   placeholder="Другая стоимость"
                                   th:attr="idValue=${author.getId()}, targetAuthor='author-' + ${author.getId()}"
                                   th:disabled="${author.getChecked() || notDistributionStatus}"
                                   type="number">
                        </div>
                        <div class="col-12 col-md-4 d-flex align-items-center text-break"
                             th:unless="${author.getChecked() || notDistributionStatus}">
                            Сохраненённое значение: <span class="fs-6 badge text-bg-secondary"
                                                          th:id="|author-fee-| + ${author.getId()}"
                                                          th:text="|Нет|"></span>
                        </div>
                        <div class="col-12 col-md-8 d-flex align-items-center"
                             th:if="${author.getChecked()}">
                            <p class="m-0 fs-5">Запрос отправлен автору.</p>
                        </div>
                    </div>
                </div>
                <div class="mb-2 row pt-2">
                    <p>Сообщение для авторов (оставьте пустым, если не хотите ничего отправлять).</p>
                    <textarea class="form-control p-2" id="author-message" rows="3"></textarea>
                </div>
                <div class="mb-2 row">
                    <button class="btn btn-primary mt-3 mb-3" id="author-submit" th:disabled="${notDistributionStatus}">
                        Отправить заказ
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <button class="btn btn-primary" onclick="window.location='/main'">Вернуться на главную</button>
    </div>
</div>
<script th:inline="text">
    const orderID = [[${order.getId()}]];
    const apiEndpoint = `/api/order/add-participants/${orderID}`;

    const catchers = document.querySelectorAll(".catcher-selection");
    const authors = document.querySelectorAll(".author-selection");
    const authorsFee = document.querySelectorAll(".author-selection-fee");
    const authorsMessage = document.getElementById("author-message");

    const authorSubmitBtn = document.getElementById("author-submit");
    const catcherSubmitBtn = document.getElementById("catcher-submit");

    function changeAuthorFee(event) {
        let targetAuthorId = event.target.getAttribute("targetAuthor");
        let idValue = event.target.getAttribute("idValue");
        let targetValue = event.target.value;
        if (event.target.value !== '') {
            event.target.classList.add('bg-info');
            document.getElementById(`author-fee-${idValue}`).innerText = targetValue;
        } else {
            targetValue = -1;
            event.target.classList.remove('bg-info');
            document.getElementById(`author-fee-${idValue}`).innerText = "Нет";
        }
        document.getElementById(targetAuthorId).setAttribute("fee", targetValue);
    }

    function getSelectedItems(targetItems) {
        let selected = [];
        for (let targetItem of targetItems) {
            if (targetItem.checked) {
                selected.push(targetItem);
            }
        }
        return selected;
    }

    function convertToIds(selectedItems) {
        let ids = []
        for (let selectedItem of selectedItems) {
            ids.push({
                id: parseInt(selectedItem.getAttribute('idValue')),
                fee: parseInt(selectedItem.getAttribute("fee"))
            });
        }
        return ids;
    }

    function sendSelected(ids, endpoint, role, message) {
        let xhr = new XMLHttpRequest();

        if (message === undefined) {
            message = null;
        }

        xhr.open('POST', endpoint, false);
        xhr.setRequestHeader("Content-Type", "application/json");

        let data = JSON.stringify({
            selected: ids,
            role: role,
            message: message
        });

        xhr.onerror = function () {
            alert("Ошибка соединения!");
        }

        xhr.onload = function () {
            if (xhr.status !== 200) {
                alert("Ошибка соединения!")
            } else {
                alert("Отправлено.")
            }
        }

        xhr.send(data);
    }

    function disableSelected(selectedItems) {
        for (let selectedItem of selectedItems) {
            selectedItem.setAttribute("disabled", null);
        }
    }

    function sendSelectedAuthors(event) {
        let selectedItems = getSelectedItems(authors);
        sendSelected(convertToIds(selectedItems), apiEndpoint, 'AUTHOR', authorsMessage.value);
        disableSelected(selectedItems);
        authorsMessage.value = "";
    }

    function sendSelectedCatcher(event) {
        let selectedItems = getSelectedItems(catchers);
        sendSelected(convertToIds(selectedItems), apiEndpoint, 'CATCHER', null);
        disableSelected(selectedItems);
        catcherSubmitBtn.setAttribute("disabled", null);
        catcherSubmitBtn.textContent = "Назначен";
    }

    authorSubmitBtn.addEventListener('click', (evt) => sendSelectedAuthors(evt));
    catcherSubmitBtn.addEventListener('click', (evt) => sendSelectedCatcher(evt));
</script>
</body>
