<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/popper.min.js"></script>

    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<!--/*@thymesVar id="order" type="by.forward.forward_system.core.dto.ui.OrderUiDto"*/-->
<div class="container mt-3">
    <form class="container g-3 border" method="post" th:action="${actionUrl}" th:object="${order}">
        <div class="row">
            <div class="col-12">
                <input hidden th:field="*{id}" type="text">
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="name">Название заказа</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" th:field="*{name}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="techName">Номер ТЗ<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-text" th:text="|Последний номер ТЗ: | + ${lastTechNumber}"></span>
                            <input class="form-control" id="techName" min="0" required step="0.01" th:field="*{techNumber}"
                                   type="number">
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="workType">Тип работы<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="workType" required th:field="*{workType}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="discipline">Дисциплина<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="discipline" readonly required th:field="*{discipline}"
                               type="text">
                        <input class="form-control" hidden id="disciplineId" readonly required th:field="*{disciplineId}"
                               type="text">
                        <div class="row">
                            <button class="mt-2 mb-1 btn btn-primary" data-bs-target="#modalDiscipline" data-bs-toggle="modal"
                                    type="button">Выбрать дисциплину
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="subject">Тема<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="subject" required th:field="*{subject}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="originality">Оригинальность от<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="originality" max="100" min="0" required th:field="*{originality}"
                               type="number">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="discipline">Система проверки<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="verificationSystem" required th:field="*{verificationSystem}"
                               type="text">
                        <div class="row">
                            <button class="mt-2 mb-1 btn btn-primary" data-bs-target="#modalVerificationSystem" data-bs-toggle="modal"
                                    type="button">Выбрать систему проверки
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="amount">Объем работы (страниц)</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="amount" th:field="*{amount}"
                               type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="discipline">Промежуточные сроки сдачи</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="intermediateDeadline" name="intermediateDeadline"
                               th:value="${#temporals.format(order?.getIntermediateDeadline(), 'yyyy-MM-dd HH:mm')}"
                               type="datetime-local">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="additionalDates">Дополнительный этапы сдачи</label>
                    <input hidden id="additionalDates" th:field="*{additionalDates}" type="text">
                    <div class="col-sm-9" id="additionalDatesDiv">
                    </div>
                    <div class="col-sm-1">
                        <button class="btn" onclick="addNewAdditionalDate()" type="button">&#x2795;</button>
                        <button class="btn" onclick="removeAdditionalDate()" type="button">&#x2796;</button>
                        <button class="btn" onclick="saveAdditionalDates()" type="button">&#x1f4be;</button>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="deadline">Окончательный срок сдачи<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="deadline" name="deadline" required
                               th:value="${#temporals.format(order?.getDeadline(), 'yyyy-MM-dd HH:mm')}"
                               type="datetime-local">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="other">Дополнительные требования и
                        пожелания</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="other" rows="5" th:field="*{other}"></textarea>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="takingCost">Стоимость взятия</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="takingCost" th:field="*{takingCost}" type="number">
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="authorCost">Стоимость для автора<strong
                            class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input class="form-control" id="authorCost" required th:field="*{authorCost}" type="number">
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-12 col-sm-2 col-form-label" for="violationsInformation">Штрафы</label>
                    <div class="col-12 col-sm-10 col-md-8 mb-2">
                        <textarea class="form-control" id="violationsInformation" rows="8"
                                  th:field="*{violationsInformation}"></textarea>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-check">
                            <input checked class="form-check-input eval-violation" id="orderImportanceLow"
                                   name="orderImportance" type="radio" value="low">
                            <label class="form-check-label" for="orderImportanceLow"><span
                                    class="badge rounded-pill text-bg-success">Не срочный заказ</span></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input eval-violation" id="orderImportanceMedium" name="orderImportance"
                                   type="radio" value="medium">
                            <label class="form-check-label" for="orderImportanceMedium"><span
                                    class="badge rounded-pill text-bg-warning">Срочный заказ</span></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input eval-violation" id="orderImportanceHigh" name="orderImportance"
                                   type="radio" value="high">
                            <label class="form-check-label" for="orderImportanceHigh"><span
                                    class="badge rounded-pill text-bg-danger">Очень срочный заказ</span></label>
                        </div>
                        <button class="btn btn-primary mt-2" onclick="fillViolationsInformation()" type="button">
                            Расчитать штрафы
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary mb-3" type="submit">Продолжить</button>
        </div>
    </form>

    <div aria-hidden="true" aria-labelledby="labelDiscipline" class="modal fade" id="modalDiscipline" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="labelDiscipline">Выбор дисциплины</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2 border" th:each="d : ${disciplines}">
                        <div class="col-9" th:for="${d.getId()}" th:id="|name-| + ${d.getId()}"
                             th:text="${d.getName()}"></div>
                        <button class="btn btn-primary col-3" data-bs-dismiss="modal"
                                th:id="${d.getId()}" th:onclick="|saveDiscipline(| + ${d.getId()} + |)|">Выбрать
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="labelVerif" class="modal fade" id="modalVerificationSystem" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="labelVerif">Выбор системы проверки</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2 border">
                        <div class="col-9" id="verif-1">ап.вуз</div>
                        <button class="btn btn-primary col-3" data-bs-dismiss="modal"
                                onclick="saveVerificationSystem(1)">Выбрать
                        </button>
                    </div>
                    <div class="row mb-2 border">
                        <div class="col-9" id="verif-2">ап.ру</div>
                        <button class="btn btn-primary col-3" data-bs-dismiss="modal"
                                onclick="saveVerificationSystem(2)">Выбрать
                        </button>
                    </div>
                    <div class="row mb-2 border">
                        <div class="col-9" id="verif-3">etxt</div>
                        <button class="btn btn-primary col-3" data-bs-dismiss="modal"
                                onclick="saveVerificationSystem(3)">Выбрать
                        </button>
                    </div>
                    <div class="row mb-2 border">
                        <div class="col-9" id="verif-4">Не требуется</div>
                        <button class="btn btn-primary col-3" data-bs-dismiss="modal"
                                onclick="saveVerificationSystem(4)">Выбрать
                        </button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const violationsValues = {
            low: {
                missDeadline: 0.25,
                badCommunicationMin: 0.1,
                badCommunicationMax: 0.2,
                useAI: 0.4,
                cancelOrder: 0.15,
                badQualityMin: 0.4,
                badQualityMax: 0.5
            },
            medium: {
                missDeadline: 0.4,
                badCommunicationMin: 0.2,
                badCommunicationMax: 0.3,
                useAI: 0.5,
                cancelOrder: 0.35,
                badQualityMin: 0.5,
                badQualityMax: 0.65
            },
            high: {
                missDeadline: 0.7,
                badCommunicationMin: 0.3,
                badCommunicationMax: 0.4,
                useAI: 0.7,
                cancelOrder: 0.6,
                badQualityMin: 0.65,
                badQualityMax: 0.8
            }
        }

        function fillViolationsInformation() {
            let checkedValue = document.querySelector("input[name=orderImportance]:checked").value;
            let cost = document.getElementById("authorCost").value
            let input = document.getElementById("violationsInformation");

            if (checkedValue === undefined || checkedValue === null || cost === null || cost === undefined || cost === '') {
                alert("Не заполнены нужные поля. Выберите Срочность и Стоимость для автора.")
                return;
            }

            let v = violationsValues[checkedValue];
            input.value =
                `1. Нарушение сроков сдачи: окончательный ${Math.ceil(cost * v.missDeadline) + ' ₽, каждый промежуточный ' + Math.ceil(cost * v.missDeadline * 0.5)} ₽;
                2. Плохая обратная связь: от ${Math.ceil(cost * v.badCommunicationMin) + ' до ' + Math.ceil(cost * v.badCommunicationMax)} ₽;
                3. Нарушение % оригинальности - пропорционально недостающему проценту, но только при нарушении более 10%;
                4. Неудовлетворительное качество работы: от ${Math.ceil(cost * v.badQualityMin) + ' до ' + Math.ceil(cost * v.badQualityMax)} ₽;
                5. Использование нейросети/тех.рерайт: ${Math.ceil(cost * v.useAI)} ₽;
                6. Отказ от работы за Х дней до сдачи: ${Math.ceil(cost * v.cancelOrder)} ₽.`.replace(/  +/g, '')
        }

        let additionalDateDiv = document.getElementById(`additionalDatesDiv`);
        let additionalDate = document.getElementById(`additionalDates`);
        let additionalDateCount = 0;

        function saveDiscipline(id) {
            let textContent = document.getElementById(`name-${id}`).textContent;
            document.getElementById("discipline").value = textContent;
            document.getElementById("disciplineId").value = id;
        }

        function saveVerificationSystem(id) {
            let textContent = document.getElementById(`verif-${id}`).textContent;
            document.getElementById("verificationSystem").value = textContent;
        }

        function markAsChanged(id) {
            let div = document.getElementById(`additional-date-${id}`);
            div.classList.add("bg-warning")
        }

        function createAdditionalDate(id, isNew) {
            let div = document.createElement("div");
            div.id = `additional-date-${id}`;
            div.classList.add("row");
            if (isNew) {
                div.classList.add("bg-warning")
            }
            div.innerHTML =
                `<div class="col-6">
                    <input id="additional-date-text-${id}" type="text" class="form-control" onchange="markAsChanged(${id})" placeholder="Что сделать">
                </div>
                <div class="col-6">
                    <input id="additional-date-time-${id}" type="datetime-local" onchange="markAsChanged(${id})" class="form-control">
                </div>`
            additionalDateDiv.append(div);
        }

        function addNewAdditionalDate() {
            createAdditionalDate(additionalDateCount, true);
            additionalDateCount++;
        }

        function removeAdditionalDate() {
            alert()
            if (additionalDateDiv.childNodes.length === 0) {
                return;
            }
            additionalDateDiv.removeChild(additionalDateDiv.lastChild);
            additionalDateCount = Math.max(0, additionalDateCount - 1);
        }

        function saveAdditionalDates() {
            let toSave = [];
            for (let i = 0; i < additionalDateCount; i++) {
                let text = document.getElementById(`additional-date-text-${i}`).value;
                let time = document.getElementById(`additional-date-time-${i}`).value;
                toSave.push({
                    text: text,
                    time: time
                });
            }
            additionalDate.value = JSON.stringify(toSave);
            for (let i = 0; i < additionalDateDiv.childNodes.length; i++) {
                if (additionalDateDiv.childNodes[i].classList !== undefined) {
                    additionalDateDiv.childNodes[i].classList.remove("bg-warning");
                }
            }
        }

        function loadSavedAdditionalDates(jsonArray) {
            for (let i = 0; i < jsonArray.length; i++) {
                createAdditionalDate(i, false);
                document.getElementById(`additional-date-text-${i}`).value = jsonArray[i].text;
                document.getElementById(`additional-date-time-${i}`).value = jsonArray[i].time;
            }
            additionalDateCount = jsonArray.length;
        }

        function loadAdditionalDates() {
            let savedData = additionalDate.value;
            if (savedData !== "") {
                loadSavedAdditionalDates(JSON.parse(savedData));
            }
        }

        loadAdditionalDates();
    </script>
</div>
</body>
