<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
            integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
            crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<!--/*@thymesVar id="order" type="by.forward.forward_system.core.dto.ui.OrderUiDto"*/-->
<div class="container mt-3">
    <form class="container g-3 border" th:action="${actionUrl}" th:object="${order}" method="post">
        <div class="row">
            <div class="col-12">
                <input type="text" th:field="*{id}" hidden>
                <div class="mb-3 mt-3 row">
                    <label for="name" class="col-sm-2 col-form-label">Название заказа</label>
                    <div class="col-sm-10">
                        <input id="name" type="text" class="form-control" th:field="*{name}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="techName" class="col-sm-2 col-form-label">Номер ТЗ<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <span class="input-group-text" th:text="|Последний номер ТЗ: | + ${lastTechNumber}"></span>
                            <input required id="techName" type="number" min="0" step="0.01" class="form-control"
                                   th:field="*{techNumber}">
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="workType" class="col-sm-2 col-form-label">Тип работы<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="workType" type="text" class="form-control" th:field="*{workType}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="discipline" class="col-sm-2 col-form-label">Дисциплина<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required readonly id="discipline" type="text" class="form-control"
                               th:field="*{discipline}">
                        <input required hidden readonly id="disciplineId" type="text" class="form-control"
                               th:field="*{disciplineId}">
                        <div class="row">
                            <button type="button" class="mt-2 mb-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalDiscipline">Выбрать дисциплину</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="subject" class="col-sm-2 col-form-label">Тема<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="subject" type="text" class="form-control" th:field="*{subject}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="originality" class="col-sm-2 col-form-label">Оригинальность от<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="originality" type="number" min="0" max="100" class="form-control"
                               th:field="*{originality}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="discipline" class="col-sm-2 col-form-label">Система проверки<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="verificationSystem" type="text" class="form-control"
                               th:field="*{verificationSystem}">
                        <div class="row">
                            <button type="button" class="mt-2 mb-1 btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalVerificationSystem">Выбрать систему проверки</button>
                        </div>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="amount" class="col-sm-2 col-form-label">Объем работы (страниц)</label>
                    <div class="col-sm-10">
                        <input id="amount" type="text" class="form-control"
                               th:field="*{amount}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="discipline" class="col-sm-2 col-form-label">Промежуточные сроки сдачи</label>
                    <div class="col-sm-10">
                        <input id="intermediateDeadline" type="datetime-local" class="form-control"
                               name="intermediateDeadline"
                               th:value="${#temporals.format(order?.getIntermediateDeadline(), 'yyyy-MM-dd HH:mm')}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="additionalDates" class="col-sm-2 col-form-label">Дополнительный этапы сдачи</label>
                    <input id="additionalDates" type="text" hidden th:field="*{additionalDates}">
                    <div id="additionalDatesDiv" class="col-sm-9">
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn" onclick="addNewAdditionalDate()">&#x2795;</button>
                        <button type="button" class="btn" onclick="removeAdditionalDate()">&#x2796;</button>
                        <button type="button" class="btn" onclick="saveAdditionalDates()">&#x1f4be;</button>
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="deadline" class="col-sm-2 col-form-label">Окончательный срок сдачи<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="deadline" type="datetime-local" class="form-control"
                               name="deadline"
                               th:value="${#temporals.format(order?.getDeadline(), 'yyyy-MM-dd HH:mm')}">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label for="other" class="col-sm-2 col-form-label">Дополнительные требования и
                        пожелания</label>
                    <div class="col-sm-10">
                        <textarea id="other" class="form-control" th:field="*{other}" rows="5"></textarea>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label for="takingCost" class="col-sm-2 col-form-label">Стоимость взятия</label>
                    <div class="col-sm-10">
                        <input id="takingCost" type="number" class="form-control" th:field="*{takingCost}">
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label for="authorCost" class="col-sm-2 col-form-label">Стоимость для автора<strong class="text-danger">*</strong></label>
                    <div class="col-sm-10">
                        <input required id="authorCost" type="number" class="form-control" th:field="*{authorCost}">
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label for="violationsInformation" class="col-12 col-sm-2 col-form-label">Штрафы</label>
                    <div class="col-12 col-sm-10 col-md-8 mb-2">
                        <textarea id="violationsInformation" class="form-control" th:field="*{violationsInformation}" rows="5"></textarea>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-check">
                            <input class="form-check-input eval-violation" type="radio" name="orderImportance" id="orderImportanceLow" value="low" checked>
                            <label class="form-check-label" for="orderImportanceLow"><span class="badge rounded-pill text-bg-success">Не срочный заказ</span></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input eval-violation" type="radio" name="orderImportance" id="orderImportanceMedium" value="medium">
                            <label class="form-check-label" for="orderImportanceMedium"><span class="badge rounded-pill text-bg-warning">Срочный заказ</span></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input eval-violation" type="radio" name="orderImportance" id="orderImportanceHigh" value="high">
                            <label class="form-check-label" for="orderImportanceHigh"><span class="badge rounded-pill text-bg-danger">Очень срочный заказ</span></label>
                        </div>
                        <button class="btn btn-primary mt-2" onclick="fillViolationsInformation()" type="button">Расчитать штрафы</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary mb-3">Продолжить</button>
        </div>
    </form>

    <div class="modal fade" id="modalDiscipline" tabindex="-1" aria-labelledby="labelDiscipline" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="labelDiscipline">Выбор дисциплины</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2 border" th:each="d : ${disciplines}">
                        <div th:id="|name-| + ${d.getId()}" th:for="${d.getId()}" class="col-9" th:text="${d.getName()}"></div>
                        <button th:id="${d.getId()}" class="btn btn-primary col-3" th:onclick="|saveDiscipline(| + ${d.getId()} + |)|" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalVerificationSystem" tabindex="-1" aria-labelledby="labelVerif" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="labelVerif">Выбор системы проверки</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2 border">
                        <div id="verif-1" class="col-9">ап.вуз</div>
                        <button class="btn btn-primary col-3" onclick="saveVerificationSystem(1)" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                    <div class="row mb-2 border">
                        <div id="verif-2" class="col-9">ап.ру</div>
                        <button class="btn btn-primary col-3" onclick="saveVerificationSystem(2)" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                    <div class="row mb-2 border">
                        <div id="verif-3" class="col-9">etxt</div>
                        <button class="btn btn-primary col-3" onclick="saveVerificationSystem(3)" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                    <div class="row mb-2 border">
                        <div id="verif-4" class="col-9">Не требуется</div>
                        <button class="btn btn-primary col-3" onclick="saveVerificationSystem(4)" data-bs-dismiss="modal">Выбрать</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        const violationsValues = {
            low: {
                missDeadlineMin: 0.2,
                missDeadlineMax: 0.25,
                badCommunicationMin: 0.1,
                badCommunicationMax: 0.2,
                useAI: 0.4,
                cancelOrder: 0.15,
                badQualityMin: 0.4,
                badQualityMax: 0.5
            },
            medium: {
                missDeadlineMin: 0.35,
                missDeadlineMax: 0.5,
                badCommunicationMin: 0.2,
                badCommunicationMax: 0.3,
                useAI: 0.5,
                cancelOrder: 0.35,
                badQualityMin: 0.5,
                badQualityMax: 0.65
            },
            high: {
                missDeadlineMin: 0.55,
                missDeadlineMax: 0.8,
                badCommunicationMin: 0.3,
                badCommunicationMax: 0.4,
                useAI: 0.7,
                cancelOrder: 0.6,
                badQualityMin: 0.65,
                badQualityMax: 0.8
            }
        }

        function fillViolationsInformation() {
            let checkedValue = document.querySelector("input[name=orderImportance]:checked").value;
            let cost = document.getElementById("authorCost").value
            let input = document.getElementById("violationsInformation");

            if (checkedValue === undefined || checkedValue === null || cost === null || cost === undefined || cost === '') {
                alert("Не заполнены нужные поля. Выберите Срочность и Стоимость для автора.")
                return;
            }

            let v = violationsValues[checkedValue];
            input.value =
                `Нарушение сроков сдачи: ${Math.ceil(cost * v.missDeadlineMin) + '-' + Math.ceil(cost * v.missDeadlineMax)} ₽
                Плохая обратная связь: ${Math.ceil(cost * v.badCommunicationMin) + '-' + Math.ceil(cost * v.badCommunicationMax)} ₽
                Использование нейросети/тех.рерайт: ${Math.ceil(cost * v.useAI)} ₽
                Отказ от работы за Х дней до сдачи: ${Math.ceil(cost * v.cancelOrder)} ₽
                Неудовлетворительное качество работы: ${Math.ceil(cost * v.badQualityMin) + '-' + Math.ceil(cost * v.badQualityMax)} ₽`.replace(/  +/g, '')
        }

        let additionalDateDiv = document.getElementById(`additionalDatesDiv`);
        let additionalDate = document.getElementById(`additionalDates`);
        let additionalDateCount = 0;

        function saveDiscipline(id) {
            let textContent = document.getElementById(`name-${id}`).textContent;
            document.getElementById("discipline").value = textContent;
            document.getElementById("disciplineId").value = id;
        }

        function saveVerificationSystem(id) {
            let textContent = document.getElementById(`verif-${id}`).textContent;
            document.getElementById("verificationSystem").value = textContent;
        }

        function markAsChanged(id) {
            let div = document.getElementById(`additional-date-${id}`);
            div.classList.add("bg-warning")
        }

        function createAdditionalDate(id, isNew) {
            let div = document.createElement("div");
            div.id = `additional-date-${id}`;
            div.classList.add("row");
            if (isNew) {
                div.classList.add("bg-warning")
            }
            div.innerHTML =
                `<div class="col-6">
                    <input id="additional-date-text-${id}" type="text" class="form-control" onchange="markAsChanged(${id})" placeholder="Что сделать">
                </div>
                <div class="col-6">
                    <input id="additional-date-time-${id}" type="datetime-local" onchange="markAsChanged(${id})" class="form-control">
                </div>`
            additionalDateDiv.append(div);
        }

        function addNewAdditionalDate() {
            createAdditionalDate(additionalDateCount, true);
            additionalDateCount++;
        }

        function removeAdditionalDate() {
            alert()
            if (additionalDateDiv.childNodes.length === 0) {
                return;
            }
            additionalDateDiv.removeChild(additionalDateDiv.lastChild);
            additionalDateCount = Math.max(0, additionalDateCount - 1);
        }

        function saveAdditionalDates() {
            let toSave = [];
            for (let i = 0; i < additionalDateCount; i++) {
                let text = document.getElementById(`additional-date-text-${i}`).value;
                let time = document.getElementById(`additional-date-time-${i}`).value;
                toSave.push({
                    text: text,
                    time: time
                });
            }
            additionalDate.value = JSON.stringify(toSave);
            for (let i = 0; i < additionalDateDiv.childNodes.length; i++) {
                if (additionalDateDiv.childNodes[i].classList !== undefined) {
                    additionalDateDiv.childNodes[i].classList.remove("bg-warning");
                }
            }
        }

        function loadSavedAdditionalDates(jsonArray) {
            for (let i = 0; i < jsonArray.length; i++) {
                createAdditionalDate(i, false);
                document.getElementById(`additional-date-text-${i}`).value = jsonArray[i].text;
                document.getElementById(`additional-date-time-${i}`).value = jsonArray[i].time;
            }
            additionalDateCount = jsonArray.length;
        }

        function loadAdditionalDates() {
            let savedData = additionalDate.value;
            if (savedData !== "") {
                loadSavedAdditionalDates(JSON.parse(savedData));
            }
        }

        loadAdditionalDates();
    </script>
</div>
</body>
