<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/popper.min.js"></script>

    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="alert alert-primary" role="alert" th:if="${param.userCreated}">
        Пользователь создан.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<!--/*@thymesVar id="user" type="by.forward.forward_system.core.dto.ui.AuthorUiDto"*/-->
<div class="container mt-3">
    <form class="container g-3 border" method="post" th:action="${actionUrl}" th:object="${user}">
        <div class="row">
            <div class="col-12 ">
                <input hidden th:field="*{id}" type="text">
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="username">Имя пользователя</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="username" required th:field="*{username}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="lastname">Фамилия</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="lastname" required th:field="*{lastname}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="firstname">Имя</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="firstname" required th:field="*{firstname}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="surname">Отчество</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="surname" th:field="*{surname}" type="text">
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="excellentSubjects">Предметы на 100% (5 баллов)</label>
                    <div class="col-sm-10">
                        <input hidden id="excellentSubjects" name="excellentSubjects" readonly
                               th:field="*{excellentSubjects}">
                        <textarea class="form-control" id="excellentSubjectsText" readonly rows="2"
                                  type="text"></textarea>
                        <div class="row">
                            <button class="mt-2 mb-1 btn btn-primary" data-bs-target="#modalExcellentSubjects" data-bs-toggle="modal"
                                    type="button">Выбрать предметы
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="goodSubjects">Предметы, которые хорошо напишет (4
                        балла)</label>
                    <div class="col-sm-10">
                        <input hidden id="goodSubjects" name="goodSubjects" readonly th:field="*{goodSubjects}">
                        <textarea class="form-control" id="goodSubjectsText" readonly rows="2"
                                  type="text"></textarea>
                        <div class="row">
                            <button class="mt-2 mb-1 btn btn-primary" data-bs-target="#modalGoodSubjects" data-bs-toggle="modal"
                                    type="button">Выбрать предметы
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="maybeSubjects">Предметы, которые может
                        рассмотреть</label>
                    <div class="col-sm-10">
                        <input hidden id="maybeSubjects" name="maybeSubjects" readonly th:field="*{maybeSubjects}">
                        <textarea class="form-control" id="maybeSubjectsText" readonly rows="2"
                                  type="text"></textarea>
                        <div class="row">
                            <button class="mt-2 mb-1 btn btn-primary" data-bs-target="#modalMaybeSubjects" data-bs-toggle="modal"
                                    type="button">Выбрать предметы
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="password">Пароль</label>
                    <div class="col-sm-10">
                        <input class="form-control"
                               id="password"
                               th:field="*{password}"
                               th:placeholder="${passwordRequired == true}? 'Введите пароль' : 'Оставьте пустым, если не хотите менять пароль'"
                               th:required="${passwordRequired}"
                               type="password">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="contact">Контакты (телефон)</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="contact" required th:field="*{contact}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="contactTelegram">Контакты (Телеграмм)</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="contactTelegram" required th:field="*{contactTelegram}"
                               type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="email">Почта</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="email" th:field="*{email}" type="email">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="payment">Реквизиты оплаты</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="payment" th:field="*{payment}" type="text">
                    </div>
                </div>
                <div class="mb-3 mt-3 row">
                    <label class="col-sm-2 col-form-label" for="other">Дополнительная информация</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="other" rows="5" th:field="*{other}" type="text"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary mb-3" type="submit">Применить</button>
        </div>
    </form>

    <div aria-hidden="true" aria-labelledby="excellentLabel" class="modal fade" id="modalExcellentSubjects"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="excellentLabel">Выбор предметов на 100%</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check" th:each="d : ${disciplines}">
                        <input class="form-check-input excellentSubject" th:attr="idValue=${d.getId()}" th:id="|excellent-| + ${d.getId()}"
                               type="checkbox">
                        <label class="form-check-label" th:for="|excellent-| + ${d.getId()}"
                               th:id="|label-excellent-| + ${d.getId()}" th:text="${d.getName()}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="goodLabel" class="modal fade" id="modalGoodSubjects"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="goodLabel">Предметы, которые хорошо напишет</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check" th:each="d : ${disciplines}">
                        <input class="form-check-input goodSubject" th:attr="idValue=${d.getId()}" th:id="|good-| + ${d.getId()}"
                               type="checkbox">
                        <label class="form-check-label" th:for="|good-| + ${d.getId()}"
                               th:id="|label-good-| + ${d.getId()}" th:text="${d.getName()}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div aria-hidden="true" aria-labelledby="maybeLabel" class="modal fade" id="modalMaybeSubjects"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="maybeLabel">Предметы, которые может рассмотреть</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                </div>
                <div class="modal-body">
                    <div class="form-check" th:each="d : ${disciplines}">
                        <input class="form-check-input maybeSubject" th:attr="idValue=${d.getId()}" th:id="|maybe-| + ${d.getId()}"
                               type="checkbox">
                        <label class="form-check-label" th:for="|maybe-| + ${d.getId()}"
                               th:id="|label-maybe-| + ${d.getId()}" th:text="${d.getName()}"></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        let excellentSubjectInput = document.getElementById("excellentSubjects");
        let goodSubjectInput = document.getElementById("goodSubjects");
        let maybeSubjectInput = document.getElementById("maybeSubjects");

        let excellentSubjectText = document.getElementById("excellentSubjectsText");
        let goodSubjectText = document.getElementById("goodSubjectsText");
        let maybeSubjectText = document.getElementById("maybeSubjectsText");

        let excellentSubjectsCheckbox = document.getElementsByClassName("excellentSubject");
        let goodSubjectsCheckbox = document.getElementsByClassName("goodSubject");
        let maybeSubjectsCheckbox = document.getElementsByClassName("maybeSubject");

        let excellentSubjectsIds = [];
        let goodSubjectsIds = [];
        let maybeSubjectsIds = [];

        function refreshTextArea(listIds, idsPrefix, targetTextArea) {
            let names = [];
            for (let listId of listIds) {
                let name = document.getElementById(`label-${idsPrefix}-${listId}`).textContent;
                names.push(name);
            }
            targetTextArea.textContent = names.join("; ");
        }

        function addIdToList(listIds, idValue, prefix, input, textArea) {
            listIds.push(idValue);
            input.value = listIds.join(",");
            refreshTextArea(listIds, prefix, textArea);
        }

        function removeIfFromList(listIds, idValue, prefix, input, textArea) {
            const index = listIds.indexOf(idValue);
            if (index > -1) {
                listIds.splice(index, 1);
            }
            input.value = listIds.join(",");
            refreshTextArea(listIds, prefix, textArea);
        }

        function loadData(listIds, idsPrefix, checkBoxes, targetTextArea) {
            for (let checkBox of checkBoxes) {
                if (listIds.includes(parseInt(checkBox.getAttribute("idValue")))) {
                    checkBox.checked = true;
                }
            }
            refreshTextArea(listIds, idsPrefix, targetTextArea);
        }

        function load(input, listIds, idsPrefix, checkBoxes, targetTextArea) {
            if (input.value !== '') {
                let strIds = input.value.split(',');
                for (let strId of strIds) {
                    listIds.push(parseInt(strId));
                }
                loadData(listIds, idsPrefix, checkBoxes, targetTextArea);
            }
        }

        for (let subject of excellentSubjectsCheckbox) {
            subject.addEventListener('change', (e) => {
                let idValue = parseInt(e.target.getAttribute("idValue"));
                let isChecked = e.target.checked;

                if (isChecked) {
                    addIdToList(excellentSubjectsIds, idValue, "excellent", excellentSubjectInput, excellentSubjectText);
                } else {
                    removeIfFromList(excellentSubjectsIds, idValue, "excellent", excellentSubjectInput, excellentSubjectText);
                }
            });
        }

        for (let subject of goodSubjectsCheckbox) {
            subject.addEventListener('change', (e) => {
                let idValue = parseInt(e.target.getAttribute("idValue"));
                let isChecked = e.target.checked;

                if (isChecked) {
                    addIdToList(goodSubjectsIds, idValue, "good", goodSubjectInput, goodSubjectText);
                } else {
                    removeIfFromList(goodSubjectsIds, idValue, "good", goodSubjectInput, goodSubjectText);
                }
            });
        }

        for (let subject of maybeSubjectsCheckbox) {
            subject.addEventListener('change', (e) => {
                let idValue = parseInt(e.target.getAttribute("idValue"));
                ;
                let isChecked = e.target.checked;

                if (isChecked) {
                    addIdToList(maybeSubjectsIds, idValue, "maybe", maybeSubjectInput, maybeSubjectText);
                } else {
                    removeIfFromList(maybeSubjectsIds, idValue, "maybe", maybeSubjectInput, maybeSubjectText);
                }
            });
        }

        load(excellentSubjectInput, excellentSubjectsIds, "excellent", excellentSubjectsCheckbox, excellentSubjectText);
        load(goodSubjectInput, goodSubjectsIds, "good", goodSubjectsCheckbox, goodSubjectText);
        load(maybeSubjectInput, maybeSubjectsIds, "maybe", maybeSubjectsCheckbox, maybeSubjectText);
    </script>
</div>
</body>
