<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="alert alert-danger" role="alert" th:if="${isOneAuthor}">
        <strong>В заказе есть только один автор</strong>, чтобы удалить данного автора, добавьте в заказ ещё одного
        автора.
    </div>
    <form class="row" method="post" th:action="|/del-author-from-order/| + ${orderId}">
        <p class="mt-3">Укажите Автора, которого хотите удалить</p>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="author, authorStat : ${authors}">
                    <div class="form-check">
                        <input class="form-check-input" name="author" required th:checked="${author.getChecked()}"
                               th:id="|author-| + ${author.getId()}" th:value="${author.getId()}" type="radio">
                        <label class="form-check-label" th:for="|author-| + ${author.getId()}"
                               th:text="${author.getUsername()} + | (Автор)|"></label>
                    </div>
                </li>
            </ul>
        </div>
        <input class="form-control btn btn-primary mt-3" th:disabled="${isOneAuthor}" type="submit"
               value="Удалить автора">
    </form>
</div>
</body>
</html>