<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
    <script src="/static/popper.min.js"></script>


    <script src="/static/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="fs-4 mt-2 mb-2">
                <a th:href="${isManager ? '/view-order/' : '/order-info/'} + ${orderId}">ТЗ <strong th:text="'№' + ${techNumber}"></strong></a>
            </p>

            <p th:if="${isManager}">Работу проверял: <span class="fw-bold" th:text="${expertUsername}"></span></p>

            <p class="mb-0"
               th:text="|Дата создания запроса : | + ${#temporals.format(review.getCreatedAt(), 'dd.MM.yyyy HH:mm')}"></p>
            <p class="mt-1" th:if="${review.getReviewDate()}"
               th:text="|Дата проверки : | + ${#temporals.format(review.getReviewDate(), 'dd.MM.yyyy HH:mm')}"></p>
            <p class="mt-1" th:text="|Дата проверки : ещё не проверено.|" th:unless="${review.getReviewDate()}"></p>

            <p th:if="${isManager}">Вердикты по работе: <span th:if="${olderReviews.isEmpty()}" th:text="|нет прошлых вердиктов|"></span></p>
            <div class="mb-2" th:each="older : ${olderReviews}" th:if="${isManager}">
                <p class="d-inline-flex gap-1">
                    <a aria-expanded="false" class="btn btn-primary" data-bs-toggle="collapse" role="button"
                       th:href="${'#' + older.getId()}"
                       th:text="|Запрос на проверку от | + ${#temporals.format(older.getCreatedAt(), 'dd.MM.yyyy HH:mm')}"
                    ></a>
                </p>
                <div class="collapse" th:id="${older.getId()}">
                    <div class="card card-body">
                        <p th:text="${older.getExpertUsername()}"></p>
                        <p class="mb-0"
                           th:text="|Дата создания запроса : | + ${#temporals.format(older.getCreatedAt(), 'dd.MM.yyyy HH:mm')}"></p>
                        <p class="mt-1" th:if="${older.getReviewDate()}"
                           th:text="|Дата проверки : | + ${#temporals.format(older.getReviewDate(), 'dd.MM.yyyy HH:mm')}"></p>
                        <p class="mt-1" th:text="|Дата проверки : ещё не проверено.|"
                           th:unless="${older.getReviewDate()}"></p>
                        <p>Сообщение от менеджера: <span th:text="${older.getReviewMessage()}"></span></p>
                        <p>Сообщение от эксперта: <span th:text="${older.getReviewVerdict()}"></span></p>
                        <p>Оценка эксперта: <span th:text="${older.getReviewVerdictMark()}"></span></p>
                        <p><a target="_blank" th:href="|/load-file/| + ${older.getAttachmentId()}">Файл, который
                            проверял эксперт.</a></p>
                        <a th:href="|/load-file/| + ${older.getReviewFileId()}"
                           th:text="|Заполненная форма отчёта|"></a>
                    </div>
                </div>
            </div>

            <hr/>

            <p><a target="_blank" th:href="|/load-file/| + ${review.getAttachmentId()}">Файл, который проверял
                эксперт.</a></p>

            <p class="mt-3">Сообщение от менеджера</p>
            <textarea class="form-control mt-3" readonly rows="10" th:text="${review.getReviewMessage()}"></textarea>
            <p class="mt-3" th:if="${additionalFileId}"><a target="_blank"
                                                           th:href="|/load-file/| + ${additionalFileId}">Дополнительно приложенный файл от
                менеджера.</a></p>
            <h3 class="mt-3">Отзыв эксперта:</h3>
            <textarea class="form-control mt-3" readonly rows="10" th:text="${review.getReviewVerdict()}"></textarea>
            <h3 class="mt-3">Общая оценка эксперта:</h3>
            <input class="form-control mt-3 mb-3" readonly th:value="${review.getReviewVerdictMark()}" type="text"/>
            <p><a class="mt-3" th:href="|/load-file/| + ${review.getReviewFileId()}">Скачать рецензию</a></p>
            <div class="row mt-3" th:if="${!review.getIsAccepted() && review.getIsReviewed() && isManager}">
                <div class="col-5 mt-3">
                    <div class="row">
                        <a class="btn btn-success"
                           th:href="|/review-order-answers-accept/| + ${orderId} + |/| + ${reviewId} + |?verdict=true|">
                            Отправить заказ на гарантию
                        </a>
                    </div>
                </div>
                <div class="col-2"></div>
                <form class="col-5" method="get"
                      th:action="|/review-order-answers-accept/| + ${orderId} + |/| + ${reviewId}">
                    <div class="form-check">
                        <input class="form-check-input" id="send-review-in-chat" name="send-to-chat" type="checkbox">
                        <input hidden name="verdict" value="false">
                        <label class="form-check-label" for="send-review-in-chat">
                            Отправить рецензию в чат
                        </label>
                    </div>
                    <div class="row mt-3 mb-3">
                        <input class="btn btn-primary" type="submit" value="Отправить на доработку">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>