<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>Выберите файл, который хотите отправить на проверку и укажите сообщение для проверяющего.</p>
        <form enctype="multipart/form-data" method="post" th:action="|/expert-review-order/| + ${orderId}">
            <input hidden name="reviewId" th:if="${reviewId}" th:value="${reviewId}">
            <div>Выберите файл из чата для проверки (обязательно):</div>
            <div th:each="file : ${files}">
                <div class="mt-3"></div>
                <input class="form-check-input" name="attachmentId" required th:checked="${file.getChecked()}"
                       th:id="|att-| + ${file.getAttachmentFileId()}"
                       th:value="${file.getAttachmentFileId()}"
                       type="radio">
                <label class="form-check-label" th:for="|att-| + ${file.getAttachmentFileId()}">
                    <a target="_blank" th:href="|/load-file/| + ${file.getAttachmentFileId()}"
                       th:text="${file.getAttachmentFilename()}"></a>
                    <span> файл от </span>
                    <strong th:href="|/load-file/| + ${file.getAttachmentFileId()}"
                            th:text="${file.getUsername()}"></strong>
                    <i th:text="${#temporals.format(file.getAttachmentTime(), 'yyyy-MM-dd')}"></i>
                </label>
            </div>

            <label class="form-label mt-3" for="select-expert">Выберите эксперта:</label>
            <select aria-label="Size 3 select example" class="form-select" id="select-expert" name="expertId" required
                    size="15">
                <option th:each="expert : ${experts}" th:selected="${expert.getChecked()}" th:text="${expert.getUsername()}"
                        th:value="${expert.getId()}"></option>
            </select>

            <p class="mt-5">Сообщение для эксперта.</p>
            <textarea class="form-control" name="reviewText" required rows="10" th:text="${messageText}"></textarea>

            <p class="mt-3">Дополнительный файлы для эксперта (используйте архив, чтобы загрузить несколько файлов).
                <span class="fw-bold" th:if="${hasFile}"
                      th:text="|Файл уже добавлен. Прикрепите новый файл, чтобы заменить старый (если не хотите менять, то не пркрепляйте новый).|"></span>
            </p>
            <p th:if="${hasFile}"><a class="mb-3" th:href="|/load-file/| + ${additionalFileId}">Скачать старый файл</a>
            </p>

            <input class="form-control" name="additionalFile" type="file">

            <div class="row mt-3">
                <input class="form-control btn btn-primary" type="submit">
            </div>
        </form>
    </div>
</div>
</body>
</html>