<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div th:fragment="header-div" style="background: linear-gradient(var(--p-angle), rgba(7,231,169,0.65) var(--p-a), rgba(240,var(--p-c-g),171,0.60) var(--p-b), rgba(110,177,220,0.80) var(--p-c));">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-3 mb-4" style="min-height: 95px">
            <ul class="nav col-12 col-lg-7 mb-2 justify-content-center justify-content-lg-start mb-md-0 align-items-center">
                <li id="mem" class="d-none"><img class="rounded-3" src="/static/header-name.png"
                                                 style="height: 95px; width: 95px"/></li>
                <li><a th:href="@{/main}" class="nav-link px-2 link-primary fw-medium text-dark">Главное меню</a></li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold text-dark"><a href="/new-messenger?tab=new-orders"
                                                class="nav-link px-2 text-dark text-decoration-underline">Мессенджер</a></div>
                    </div>
                    <span class="badge text-bg-dark rounded-pill"
                          th:if="@{__${@newMsgCount.newMessageCount() > 0}__}"
                          th:text="@{__${@newMsgCount.newMessageCount()}__}"></span>
                </li>
                <li><a class="nav-link px-2 link-primary fw-medium text-dark" href="/push-subscription">Уведомления</a></li>
            </ul>
            <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end">
                <!--/*@thymesVar id="userShort" type="by.forward.forward_system.core.dto.ui.UserShortUiDto"*/-->
                <a th:href="@{/info}" class="btn fw-medium text-dark"
                   th:text="${userShort.getUsername()} + | (| + ${(userShort.getRolesRus())} + |)|"></a>
                <a th:href="@{/logout}" class="btn btn-danger align-self-center">Выйти</a>
            </div>
        </header>
    </div>

    <script>
        let mem = document.getElementById("mem");

        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }

        let random = getRandomInt(100);

        if (random < 5) {
            mem.classList.remove("d-none");
        }

        let time = +(new Date() / 7000);
        setInterval(() => {
            time = +(new Date() / 7000);

            document.documentElement.style.setProperty("--p-c-g", Math.sin(time * 0.55) * 40 + 80);
            document.documentElement.style.setProperty("--p-angle", (Math.sin(time * 0.35) * 45 + 90) + "deg");

            let center = Math.sin(time * 0.8) * 50 + 50;
            let paddingL = Math.abs(Math.cos(time * 0.15) * 20)
            let paddingR = Math.abs(Math.sin(time * 0.05) * 20)
            let left = Math.abs(Math.cos(time * 0.9) * Math.sin(time * 0.3)) * 15;
            let right = Math.abs(Math.sin(time * 0.9) * Math.cos(time * 0.3)) * 15;

            document.documentElement.style.setProperty("--p-a", (center - left - 20 - paddingL) + '%');
            document.documentElement.style.setProperty("--p-b", (center) + '%');
            document.documentElement.style.setProperty("--p-c", (center + right + 20 + paddingR) + '%');
        }, 50)
    </script>
</div>