<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<div style="background: linear-gradient(var(--p-angle), rgba(7,231,169,0.65) var(--p-a), rgba(240,var(--p-c-g),171,0.60) var(--p-b), rgba(110,177,220,0.80) var(--p-c));"
     th:fragment="header-div">
    <div class="container">

        <div class="p-2 alert alert-danger d-none" id="new-domain" role="alert">
            <p class="ms-2 me-2 mt-1 mb-1 text-center ">Вы используете старую ссылку. У сайта появился защищённый домен.
                Ссылка на новый домен: <a target="_self" th:href="|https://| + @{__${@siteDomain}__}"
                                          th:text="@{__${@siteDomain}__}"></a>!</p>
        </div>

        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start p-3 mb-4"
                style="min-height: 95px">
            <ul class="nav col-12 col-lg-7 mb-2 justify-content-center justify-content-lg-start mb-md-0 align-items-center">
                <li class="d-none" id="mem"><img class="rounded-3 me-3" id="mem-img"
                                                 style="height: 95px; width: 95px"/></li>
                <li class="d-none" id="tree"><img class="rounded-3 me-3" src="/static/tree.gif"
                                                  style="height: 95px; width: 55px"/></li>
                <li><a class="nav-link px-2 link-primary fw-medium text-dark" th:href="@{/main}">Главное меню</a></li>
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold text-dark"><a class="nav-link px-2 text-dark text-decoration-underline"
                                                          href="/new-messenger?tab=new-orders">Мессенджер</a>
                        </div>
                    </div>
                    <span class="badge text-bg-dark rounded-pill"
                          th:if="@{__${@newMsgCount.newMessageCount() > 0}__}"
                          th:text="@{__${@newMsgCount.newMessageCount()}__}"></span>
                </li>
                <li>
                    <a class="nav-link px-2 link-primary fw-medium text-dark" href="/calendar">Календарь</a>
                </li>
                <li>
                    <a class="nav-link px-2 link-primary fw-medium text-dark" href="/push-subscription">Уведомления</a>
                </li>
            </ul>
            <div class="col-12 col-lg-5 d-flex justify-content-center justify-content-lg-end" style="min-width: 350px">
                <!--/*@thymesVar id="userShort" type="by.forward.forward_system.core.dto.ui.UserShortUiDto"*/-->
                <div class="pe-3 w-100">
                    <a class="btn fw-medium text-dark text-center d-block" th:href="@{/info}"
                       th:text="${userShort.getUsername()} + | (| + ${(userShort.getRolesRus())} + |)|"></a>
                    <div class="w-100" th:if="${userShort.hasPlans()}" th:each="plan : ${userShort.getPlans()}">
                        <div class="d-flex justify-content-center justify-content-lg-end align-items-center">
                            <div class="progress text-end h6 fw-bold m-0 ms-2 me-2 w-100 border border-success" role="progressbar" style="height: 20px">
                                <div class="progress-bar text-dark overflow-visible text-end pe-2 ps-2"
                                     th:style="'width: ' + ${plan.percent()} + '%; background-color: #5ae0d7;'" th:text="${plan.sum()} + ' руб. | ' + ${100 * plan.sum() / plan.targetSum()} + '%'">
                                </div>
                            </div>
                            <span class="h6 m-0" th:text="${plan.targetSum()}"></span></div>
                        <i style="font-size: 0.7rem" class="fw-medium text-center w-100 mx-auto d-block mt-1" th:text="${plan.name()}"></i>
                    </div>
                </div>
                <a class="btn btn-danger align-self-center" th:href="@{/logout}">Выйти</a>
            </div>
        </header>
    </div>

    <script th:inline="javascript">
        const headerUserId = [[${userShort.getId()}]]

        function getRandomInt(max) {
            return Math.floor(Math.random() * max);
        }

        let mem = document.getElementById("mem");
        let memImg = document.getElementById("mem-img");
        let memUrls = [
            '/static/header-mem-0.png',
            '/static/header-mem-1.gif',
            '/static/header-mem-2.gif',
            '/static/header-mem-3.gif',
            '/static/header-mem-4.gif',
            '/static/header-mem-5.png',
            '/static/header-mem-6.gif',
            '/static/header-mem-7.gif',
            '/static/header-mem-8.png',
        ]

        function showMem(isShowMem) {
            if (!isShowMem) {
                return;
            }
            let memUrl = memUrls[getRandomInt(memUrls.length * 20) % memUrls.length];
            memImg.setAttribute("src", memUrl);
            mem.classList.remove("d-none");
        }

        showMem(getRandomInt(100) <= 5)

        if (window.location.host !== 'writer-link.by') {
            document.getElementById("new-domain").classList.remove("d-none");
        }

        let time = +(new Date() / 7000);
        setInterval(() => {
            time = +(new Date() / 7000);

            document.documentElement.style.setProperty("--p-c-g", Math.sin(time * 0.55) * 40 + 80);
            document.documentElement.style.setProperty("--p-angle", (Math.sin(time * 0.35) * 45 + 90) + "deg");

            let center = Math.sin(time * 0.8) * 50 + 50;
            let paddingL = Math.abs(Math.cos(time * 0.15) * 20)
            let paddingR = Math.abs(Math.sin(time * 0.05) * 20)
            let left = Math.abs(Math.cos(time * 0.9) * Math.sin(time * 0.3)) * 15;
            let right = Math.abs(Math.sin(time * 0.9) * Math.cos(time * 0.3)) * 15;

            document.documentElement.style.setProperty("--p-a", (center - left - 20 - paddingL) + '%');
            document.documentElement.style.setProperty("--p-b", (center) + '%');
            document.documentElement.style.setProperty("--p-c", (center + right + 20 + paddingR) + '%');
        }, 50)

        function ping() {
            const myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json; charset=UTF-8");

            const requestOptions = {
                method: "GET",
                headers: myHeaders,
                redirect: "follow"
            };

            fetch("/activity/ping/" + headerUserId, requestOptions)
                .then((resp) => {
                    console.log("Вы в сети. Обновление выполнено.")
                })
        }

        ping();
        setInterval(() => { ping(); }, 5000);

    </script>
</div>