<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="display-6">Подписка на рассылку сообщений.</div>
    <div class="alert alert-warning col-12 mt-3 mb-3 d-none" role="alert">
        <p class="mt-3">Для того, чтобы подписаться на рассылку сообщений, ознакомьтесь с инструкцией, как настроить
            браузер, чтобы он мог получать сообщения: <a href="https://docs.google.com/document/d/1gVFKNFaxZYJ7dpgxiLqDaixI3FP1AL4ywe7pSiDglzc/edit?usp=sharing"
                                                         target="_blank">Google
                документ с инструкцией.</a></p>
    </div>
    <p class="mt-3">Статус подписки: <span id="subscription-status-text"></span></p>
    <button class="mt-1 btn btn-primary" id="subscription-button" onclick="main()">Подписаться</button>
    <p class="mt-3 text-danger" hidden id="denied-text">Вы заблокировали уведомления. Разблокируйте уведомления на сайте
        и обновите страницу. <a href="https://support.google.com/chrome/answer/3220216?hl=ru&co=GENIE.Platform%3DDesktop&oco=0"
                                target="_blank">Как
            включить?</a></p>
    <div class="alert alert-success col-12 mt-3 mb-3" role="alert">
        <p>Подписаться на рассылку сообщений в <a href="https://t.me/forward_system_notification_bot"
                                                                   target="_blank">Telegram</a>,
            используя следующий персональный код подтверждения:</p>
    </div>
    <blockquote class="blockquote">
        <p>Код подтверждения:
            <mark class="p-1 border" id="bot-code"></mark>
        </p>
    </blockquote>
</div>
<script th:inline="javascript">
    const userId = [[${userId}]];

    if (getCookie("notification_id") === null) {
        setCookie("notification_id", Date.now() + userId * 131071, 365)
    }

    let subscriptionStatusText = document.getElementById("subscription-status-text");
    let subscriptionButton = document.getElementById("subscription-button");
    let subscriptionDeniedText = document.getElementById("denied-text");
    let botCode = document.getElementById("bot-code");

    function httpRequest(method, requestUrl, body, callback) {
        let xhr = new XMLHttpRequest();
        xhr.open(method, requestUrl, false);

        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");

        xhr.onload = function () {
            console.log(xhr.status)
            if (xhr.status === 200) {
                if (callback) {
                    callback(xhr.response);
                }
            } else {
                alert(`Ошибка '${requestUrl}' ${xhr.status} : ${xhr.statusText}`);
            }
        }

        xhr.onerror = function () {
            alert("Запрос не удался");
        };

        xhr.send(body);
    }

    httpRequest('GET', `/api/push/get-subscription-status/${getCookie("notification_id")}`, null, (resp) => {
        let status = JSON.parse(resp).status;
        if (status === false) {
            subscriptionStatusText.innerHTML = `<strong class="badge rounded-pill text-bg-danger" >Не подписан</strong>`;
        } else {
            subscriptionStatusText.innerHTML = `<strong class="badge rounded-pill text-bg-success" >Подписан</strong>`;
            subscriptionButton.setAttribute("disabled", null);
        }
    });

    httpRequest('GET', `/api/push/public-key`, null, (resp) => {
        window.applicationServerKey = JSON.parse(resp).publicKey;
    });

    httpRequest('GET', '/api/push/get-bot-code', null, (resp) => {
        botCode.innerText = JSON.parse(resp).botCode;
    });

    navigator.serviceWorker.register('/static/sw.js').then(() => {
        console.log('[SW] Service worker has been registered');
    }, e => {
        console.error('[SW] Service worker registration failed', e);
    });

    const checkPermission = () => {
        if (!('serviceWorker' in navigator)) {
            throw new Error("No support for service worker!")
        }

        if (!('Notification' in window)) {
            throw new Error("No support for notification API");
        }

        if (!('PushManager' in window)) {
            throw new Error("No support for Push API")
        }
    }

    const registerSW = async () => {
        const registration = await navigator.serviceWorker.register('/static/sw.js');
        return registration;
    }

    const requestNotificationPermission = async () => {
        const permission = await Notification.requestPermission();

        if (permission !== 'granted') {
            subscriptionDeniedText.removeAttribute("hidden");
            throw new Error("Notification permission not granted")
        }
    }

    const main = async () => {
        checkPermission()
        await requestNotificationPermission()
        let serviceWorkerRegistration = await registerSW();
        let pushSubscription = await serviceWorkerRegistration.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: window.applicationServerKey
        });
        httpRequest("POST", `/api/push/subscribe`, JSON.stringify({
            notificationId: parseInt(getCookie("notification_id")),
            subscription: pushSubscription
        }), (resp) => {
            subscriptionStatusText.innerHTML = `<strong class="badge rounded-pill text-bg-success" >Подписан</strong>`;
            subscriptionButton.setAttribute("disabled", null);
        })
    }

    function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function getCookie(cname) {
        let name = cname + "=";
        let ca = document.cookie.split(';');
        for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return null;
    }

</script>
</body>
</html>