<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="/static/jquery-3.7.1.min.js"></script>
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/datatables/datatables.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="~{main/header :: header-div}"></div>

<div class="container">
    <div class="row">
        <h3>Статистики предложения заказов</h3>
    </div>
</div>

<div class="container mt-3 mb-3">
    <span class="p-1 mt-2 me-3">Быстрый фильтр: </span>
    <a class="btn btn-primary p-1 ms-3 mt-1" href="/req-stat-redirect?type=last7">Последние 7 дней</a>
    <a class="btn btn-primary p-1 ms-3 mt-1" href="/req-stat-redirect?type=last14">Последние 14 дней</a>
    <a class="btn btn-primary p-1 ms-3 mt-1" href="/req-stat-redirect?type=last30">Последние 30 дней</a>
    <a class="btn btn-primary p-1 ms-3 mt-1" href="/req-stat-redirect?type=last60">Последние 60 дней</a>
    <a class="btn btn-primary p-1 ms-3 mt-1" href="/req-stat-redirect?type=last90">Последние 90 дней</a>
</div>

<form action="/req-stat" class="container">

    <hr class="m-1"/>

    <div class="row mt-0 ps-3 pe-3">
        <div class="row mt-0 p-0 g-3 align-items-center col-12 col-md-5">
            <div class="col-auto">
                <label class="col-form-label" for="stat-time-start">Начало</label>
            </div>
            <div class="col-auto">
                <input aria-describedby="stat-time-start"
                       class="form-control"
                       id="stat-time-start"
                       name="startDate"
                       required
                       th:max="${#temporals.format(cDate, 'yyyy-MM-dd')}"
                       th:value="${#temporals.format(startDate, 'yyyy-MM-dd')}"
                       type="date">
            </div>
            <div class="col-auto">
                <span class="form-text" id="stat-time-start-inline">Дата начала отсчёта (включая)</span>
            </div>
        </div>
        <div class="row g-3 mt-0 align-items-center col-12 col-md-5">
            <div class="col-auto">
                <label class="col-form-label" for="stat-time-end">Конец</label>
            </div>
            <div class="col-auto">
                <input aria-describedby="stat-time-end"
                       class="form-control"
                       id="stat-time-end"
                       name="endDate"
                       required
                       th:max="${#temporals.format(cDate, 'yyyy-MM-dd')}"
                       th:value="${#temporals.format(endDate, 'yyyy-MM-dd')}"
                       type="date">
            </div>
            <div class="col-auto">
                <span class="form-text" id="stat-time-end-inline">Дата конца отсчёта (включая)</span>
            </div>
        </div>
        <input class="col-12 col-md-2 btn btn-primary mt-3" type="submit" value="Показать">
    </div>

    <hr class="m-1 mt-3"/>

</form>

<div class="container mt-3 mb-2">
    <p class="m-0 p-1">Статистика предложения заказов с <span class="h5"
                                                              th:text="${#temporals.format(startDate, 'dd.MM.yyyy')}"></span>
        по
        <span class="h5" th:text="${#temporals.format(endDate, 'dd.MM.yyyy')}"></span>. Всего
        <span class="h5"
              th:text="${daysCalculator.between(startDate, endDate) + (startDate.equals(endDate) ? 1 : 0)}"></span>
        дней.
    </p>
</div>

<div class="d-flex justify-content-center p-2 table-responsive">
    <table class="table table-hover table-striped align-middle cell-border table-bordered" id="req-table">
        <thead class="table-group-divider">
        <tr class="align-middle">
            <th class="p-3 m-3" scope="col">Имя пользователя</th>
            <th scope="col">Всего предложено</th>
            <th scope="col" th:each="m : ${mIds}" th:text="${uMap.get(m)}"></th>
        </tr>
        <tr class="align-middle">
            <th data-dt-order="disable">Всего предложено</th>
            <th class="text-center"
                data-dt-order="disable"
                scope="col"
                th:text="${dataMap.getTotalCount()}"></th>
            <th class="text-center" data-dt-order="disable" scope="col"
                th:each="m : ${mIds}"
                th:text="${dataMap.getCountByManager(m)}"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        <tr th:each="a : ${aIds}">
            <th scope="row" th:text="${uMap.get(a)}"></th>
            <th class="text-center" scope="row" th:text="${dataMap.getCountByAuthor(a)}">Mark</th>
            <td th:class="'text-center ' + ${dataMap.getCount(a, m) > 0 ? 'table-primary' : ''}" th:each="m : ${mIds}"
                th:text="${dataMap.getCount(a, m)}" th:title="'От ' + ${uMap.get(m)} + ' для ' + ${uMap.get(a)}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/static/datatables/datatables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#req-table').DataTable({
            ordering: true,
            paging: false,
            searching: true,
            info: false,
            fixedColumns: {
                start: 2
            },
            search: {
                caseInsensitive: true
            },
            scrollCollapse: true,
            scrollY: (window.innerHeight - document.querySelector("thead").clientHeight - 100) + 'px',
            scrollX: (document.querySelector(".table-responsive").clientWidth - 50) + 'px'
        });
    });
</script>

</body>
</html>