<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <a th:href="|/view-order/| + ${orderId}" target="_blank">Посмотреть ТЗ</a>
    <div class="alert alert-danger" role="alert" th:if="${isViewed}">
        Данный запрос уже рассмотрен!
    </div>
    <form class="row" th:action="|/review-order/| + ${requestId}" method="post">
        <p class="mt-3">Кетчер</p>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="catcher, catcherStat : ${catchers}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:id="|catcher-| + ${catcher.getId()}"
                               th:checked="${catcher.getChecked()}" th:value="${catcher.getId()}" name="catcher">
                        <label class="form-check-label" th:for="|catcher-| + ${catcher.getId()}"
                               th:text="${catcher.getFio()} + | (| + ${catcher.getUsername()} + |)|"></label>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mt-3">Автор</p>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="author, authorStat : ${authors}">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" th:id="|author-| + ${author.getId()}"
                               th:checked="${author.getChecked()}" name="author" th:value="${author.getId()}">
                        <label class="form-check-label" th:for="|author-| + ${author.getId()}"
                               th:text="${author.getUsername()}"></label>
                    </div>
                </li>
            </ul>
        </div>
        <p class="mt-3">Хост</p>
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="host, hostStat : ${hosts}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" th:id="|host-| + ${host.getId()}"
                               th:checked="${host.getChecked()}" th:value="${host.getId()}" name="host">
                        <label class="form-check-label" th:for="|host-| + ${host.getId()}"
                               th:text="${host.getFio()} + | (| + ${host.getUsername()} + |)|"></label>
                    </div>
                </li>
            </ul>
        </div>
        <div th:if="${!isViewed}" class="row mt-3">
            <input type="radio" class="btn-check" name="verdict" id="success-outlined" value="true" autocomplete="off" checked>
            <label class="btn btn-outline-success col-5" for="success-outlined">Принять назначения</label>
            <div class="col-2"></div>
            <input type="radio" class="btn-check" name="verdict" id="danger-outlined" value="false" autocomplete="off">
            <label class="btn btn-outline-danger col-5" for="danger-outlined">Забраковать назначения</label>
        </div>
        <input th:if="${!isViewed}" class="form-control btn btn-primary mt-3" type="submit" value="Сохранить">
    </form>
</div>
</body>