<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <script src="/static/popper.min.js"></script>


    <script src="/static/bootstrap/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="mt-3 mb-1">Создание новой дисциплины:</p>
            <form class="row g-3" action="/settings-new-discipline" method="post" th:object="${newDiscipline}">
                <div class="col-11">
                    <label for="name" class="visually-hidden">Название новой дисциплины</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}"
                           placeholder="Название новой дисциплины">
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary mb-3">Создать</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="mt-3 mb-1">Все дисциплины:</p>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дисциплина</th>
                    <th scope="col">Действие</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="d, dStat : ${disciplines}">
                    <th scope="row" style="align-content: center" th:text="${dStat.index + 1}"></th>
                    <td style="align-content: center">
                        <p class="mt-0 mb-0"><span th:id="|name-| + ${d.getId()}" th:text="${d.getName()}"></span></p>
                    </td>
                    <td>
                        <button class="btn" style="font-size: 25px" data-bs-toggle="modal" data-bs-target="#editModal"
                                th:onclick='|fillData(| + ${d.getId()} + |)|'>&#x270d;</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="label">Изменить название дисциплины</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="/settings-update-discipline" method="post" th:object="${newDiscipline}">
                    <div class="modal-body">
                        <label for="name" class="visually-hidden">Название</label>
                        <input type="text" class="form-control" id="editName" th:field="*{name}"
                               placeholder="Название новой дисциплины">
                        <input hidden type="number" class="form-control" id="editId" th:field="*{id}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-primary">Изменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
        function fillData(id) {
            name = document.getElementById(`name-${id}`).textContent;
            document.getElementById("editName").value = name;
            document.getElementById("editId").value = id;
        }
    </script>
</div>
</body>