<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="alert alert-primary" role="alert" th:if="${param.userUpdated}">
        Заказ обновлён.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-hover ms-1 me-1" style="font-size: small">
        <thead>
        <tr>
            <th scope="col">Имя
                <a class="btn" href="/user-view?col=username&order=asc">&#x21a5;</a>
                <a class="btn" href="/user-view?col=username&order=desc">&#x21a7;</a>
            </th>
            <th scope="col">Роли</th>
            <th scope="col">Учавствует в заказах</th>
            <th scope="col">Кол-во заказов
                <a class="btn" href="/user-view?col=activeOrders&order=asc">&#x21a5;</a>
                <a class="btn" href="/user-view?col=activeOrders&order=desc">&#x21a7;</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${users}">
            <td class="fw-semibold" th:text="${u.getUsername()}"></td>
            <td>
                <ul class="list-group">
                    <li class="pt-0 pb-0 list-group-item" th:each="d : ${u.getRolesRus()}"
                        th:text="${d}"></li>
                </ul>
            </td>
            <td>
                <ul class="list-group">
                    <li class="pt-0 pb-0 list-group-item" th:each="d : ${u.orderTechNumbers()}"
                        th:text="|ТЗ №| + ${d}"></li>
                </ul>
            </td>
            <td th:text="${u.activeOrderCount()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>