<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div th:if="${param.userUpdated}" class="alert alert-primary" role="alert">
        Заказ обновлён.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <p>Можно изменить заказы в статусах "Создан" и "На распредлении"</p>
        <div class="col-12">
            <ul class="list-group">

                <li class="list-group-item d-flex justify-content-between align-items-start" th:each="order, orderStat : ${ordersList}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">
                            <a th:text="|Заказ №| + ${order.getTechNumber()}" th:href="|/update-order/| + ${order.getId()}">

                            </a>
                        </div>
                        <p th:text="|Название заказа: | + ${order.getName()}"></p>
                    </div>
                    <span class="badge text-bg-primary rounded-pill" th:text="${order.getOrderStatusRus()}"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>