<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <p>Чаты, созданные вручную.</p>
    <hr class="mt-3"/>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between" th:each="t : ${createdChats}">
            <a class="align-content-center" th:href="|/update-chat/| + ${t.getId()}" th:text="${t.getChatName()}  + | (chatId=| + ${t.getId()} + |)|"></a>
            <a class="btn btn-danger" th:href="|/delete-chat/| + ${t.getId()}">Удалить чат</a>
        </li>
    </ul>
    <hr class="mb-3"/>
    <p>Системные чаты</p>
    <ul class="list-group">
        <li class="list-group-item" th:each="t : ${systemChats}">
            <a th:href="|/update-chat/| + ${t.getId()}" th:text="${t.getChatName()} + | (chatId=| + ${t.getId()} + |)|"></a>
        </li>
    </ul>
</div>
</body>