<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="alert alert-primary" role="alert" th:if="${param.userUpdated}">
        Заказ обновлён.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row" th:if="${showPages}">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex-wrap">
                    <li class="page-item">
                        <a aria-label="Previous" class="page-link" th:href="${searchOrderUrl} + |?page=| + ${page - 1}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="|page-item | + ${cPage == page ? 'active' : ''}" th:each="cPage : ${pages}">
                        <a class="page-link" th:href="${searchOrderUrl} + |?page=| + ${cPage}" th:text="${cPage}"></a>
                    </li>
                    <li class="page-item">
                        <a aria-label="Next" class="page-link" th:href="${searchOrderUrl} + |?page=| + ${page + 1}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" th:if="${showSearch}">
        <div class="col-12 col-sm-6">
            <form th:action="${searchOrderUrl}" action="" class="d-flex" method="get">
                <input class="form-control" name="techNumber" placeholder="Поиск по номеру ТЗ" step="0.1" type="number">
                <button class="btn btn-warning ms-2" type="submit">&#128270;</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="order, orderStat : ${ordersList}">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-0">
                            <div class="fw-bold">
                                <a th:href="|/view-order/| + ${order.getId()}"
                                   th:text="|Заказ (ТЗ) № | + ${order.getTechNumber()}"></a>
                            </div>
                            <p class="mt-1 mb-0" th:text="|Название заказа: | + ${order.getName()}"></p>
                            <p class="mt-1 mb-0" th:text="|Дисциплина: | + ${order.getDiscipline()}"></p>
                            <p class="mt-1 mb-0" th:text="|Стоимость: | + ${order.getTakingCost()}"></p>
                            <p class="mt-1 mb-0"
                               th:text="|Срок сдачи: | + ${#temporals.format(order.getDeadline(), 'yyyy-MM-dd HH:mm')}"></p>
                            <p class="mt-1 mb-0"
                               th:text="|Ответственный менеджер: | + ${order.getResponsibleManager()}"></p>
                            <p class="mt-1 mb-0" th:if="${order.getDistributionDaysCount() != null}"
                               th:text="|Дней на распределении: | + ${order.getDistributionDaysCount()}"></p>
                        </div>
                        <span class="badge text-bg-primary rounded-pill" th:text="${order.getOrderStatusRus()}"></span>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3" style="align-content: center">
                            <p class="mt-1 mb-0"><a th:href="|/update-order/| + ${order.getId()}">Открыть для
                                изменения</a></p>
                        </div>
                        <div class="col-6 col-md-3" style="align-content: center">
                            <p class="mt-1 mb-0"><a th:href="|/order-second-step/| + ${order.getId()}">Отправить
                                авторам</a></p>
                        </div>
                        <div class="col-6 col-md-3 mt-3 mt-md-0" style="align-content: center"
                             th:if="${chatHandler.get(order.getId())}">
                            <p class="mt-1 mb-0"><a
                                    target="_blank"
                                    th:href="|/new-messenger?tab=orders&chatId=| + ${chatHandler.get(order.getId()).getChatId()}">Чат заказа <span
                                    class="fw-bold"
                                    th:if="${chatHandler.get(order.getId()).getNewMessageCount() > 0}"
                                    th:text="|(| + ${chatHandler.get(order.getId()).getNewMessageCount()} + | новых)|"></span></a>
                            </p>
                        </div>
                        <div class="col-6 col-md-3 mt-3 mt-md-0" style="align-content: center">
                            <form method="post"
                                  th:action="|/delete-order/| + ${order.getId()}" th:attr="delete-order-id=${order.getTechNumber()}">
                                <button class="btn btn-danger" type="submit">Удалить</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    for (const formDelete of document.querySelectorAll('form[delete-order-id]')) {
        formDelete.onsubmit = function () {
            return confirm(`Вы действительно хотите удалить заказ №${formDelete.getAttribute('delete-order-id')}?`);
        };
    }
</script>
</body>