<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div th:if="${param.userUpdated}" class="alert alert-primary" role="alert">
        Заказ обновлён.
    </div>
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row" th:if="${showPages}">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="|/view-order?page=| + ${page - 1}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="cPage : ${pages}" th:class="|page-item | + ${cPage == page ? 'active' : ''}">
                        <a class="page-link" th:href="|/view-order?page=| + ${cPage}" th:text="${cPage}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="|/view-order?page=| + ${page + 1}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" th:if="${showSearch}">
        <div class="col-12 col-sm-6">
            <form class="d-flex" method="get" action="/view-order">
                <input class="form-control" name="techNumber" type="number" step="0.1" placeholder="Поиск по номеру ТЗ">
                <button class="btn btn-warning ms-2" type="submit">&#128270;</button>
            </form>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <ul class="list-group">
                <li class="list-group-item" th:each="order, orderStat : ${ordersList}">
                    <div class="d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-0">
                            <div class="fw-bold">
                                <a th:text="|Заказ (ТЗ) № | + ${order.getTechNumber()}"
                                   th:href="|/view-order/| + ${order.getId()}"></a>
                            </div>
                            <p class="mt-1 mb-0" th:text="|Название заказа: | + ${order.getName()}"></p>
                            <p class="mt-1 mb-0" th:text="|Дисциплина: | + ${order.getDiscipline()}"></p>
                            <p class="mt-1 mb-0" th:text="|Стоимость: | + ${order.getTakingCost()}"></p>
                            <p class="mt-1 mb-0"
                               th:text="|Срок сдачи: | + ${#temporals.format(order.getDeadline(), 'yyyy-MM-dd HH:mm')}"></p>
                            <p class="mt-1 mb-0"
                               th:text="|Ответственный менеджер: | + ${order.getResponsibleManager()}"></p>
                            <p class="mt-1 mb-0" th:if="${order.getDistributionDaysCount() != null}"
                               th:text="|Дней на распределении: | + ${order.getDistributionDaysCount()}"></p>
                        </div>
                        <span class="badge text-bg-primary rounded-pill" th:text="${order.getOrderStatusRus()}"></span>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-3" style="align-content: center">
                            <p class="mt-1 mb-0"><a th:href="|/update-order/| + ${order.getId()}">Открыть для
                                изменения</a></p>
                        </div>
                        <div class="col-6 col-md-3" style="align-content: center">
                            <p class="mt-1 mb-0"><a th:href="|/order-second-step/| + ${order.getId()}">Отправить
                                авторам</a></p>
                        </div>
                        <div th:if="${chatHandler.get(order.getId())}" class="col-6 col-md-3 mt-3 mt-md-0"
                             style="align-content: center">
                            <p class="mt-1 mb-0"><a
                                    th:href="|/new-messenger?tab=orders&chatId=| + ${chatHandler.get(order.getId()).getChatId()}"
                                    target="_blank">Чат заказа <span
                                    class="fw-bold"
                                    th:if="${chatHandler.get(order.getId()).getNewMessageCount() > 0}"
                                    th:text="|(| + ${chatHandler.get(order.getId()).getNewMessageCount()} + | новых)|"></span></a>
                            </p>
                        </div>
                        <div class="col-6 col-md-3 mt-3 mt-md-0" style="align-content: center">
                            <form th:attr="delete-order-id=${order.getTechNumber()}"  th:action="|/delete-order/| + ${order.getId()}" method="post">
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
    for (const formDelete of document.querySelectorAll('form[delete-order-id]')) {
        formDelete.onsubmit = function() {
            return confirm(`Вы действительно хотите удалить заказ №${formDelete.getAttribute('delete-order-id')}?`);
        };
    }
</script>
</body>