<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3 th:text="${menuName}"></h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a aria-label="Previous" class="page-link" th:href="|/violations?page=| + ${page - 1}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="|page-item | + ${cPage == page ? 'active' : ''}" th:each="cPage : ${pages}">
                        <a class="page-link" th:href="|/violations?page=| + ${cPage}" th:text="${cPage}"></a>
                    </li>
                    <li class="page-item">
                        <a aria-label="Next" class="page-link" th:href="|/violations?page=| + ${page + 1}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item" th:each="viol : ${violations}">
                <a th:href="|/ai-log/| + ${viol.getAiLogId()}"
                   th:text="|Нарушение пользователя: | + ${viol.getUsername()}"></a>
                <p th:text="|Дата нарушения | + ${#temporals.format(viol.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></p>
            </li>
        </ul>
    </div>
</div>
</body>
