<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/x-icon">

</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div data-vue-component="view/OrderSendLogView" class="container"></div>
</body>
</html>