<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Черезвычайное меню.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>
<body style="font-family: sans-serif">

<a href="/main">Вернуться на главную</a>

<hr/>

<div>
    <h1>Перезагрузка приложения.</h1>
    <input type="submit" value="Перезагрузить" onclick="shutdown()">
</div>

<hr/>

<script th:inline="javascript">
    const shutdownUrl = [[${shutdownUrl}]];

    function shutdown() {

        const requestOptions = {
            method: "POST",
            redirect: "follow"
        };

        fetch(shutdownUrl, requestOptions)
            .then((response) => response.text())
            .then((result) => alert("Перезагрузка!"))
            .catch((error) => alert(error));
    }
</script>

</body>
</html>