<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:unless="${authorizedUser}" th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div th:if="${fileNotFound}" class="alert alert-danger mb-3 mt-3" role="alert">
        Файл не найден!
    </div>
    <a class="btn btn-primary mb-3 mt-3"
       target="_blank"
       th:href="|/download-file/| + ${fileId}"
       th:unless="${fileNotFound}"
       th:text="|Скачать файл: | + ${filename}"></a>
</div>
<div th:if="${isMicrosoftFile}">
    <i class="mx-auto d-block text-center">Если документ не виден в течение 10 секунд, то перезагрузите страницу или скачайте файл.</i>
    <iframe id="docViewer" style="width:60vw; min-width: min(800px, 100vw); height:80vh;" src="" class="mx-auto d-block"></iframe>
    <script th:inline="javascript">
        const fileId = [[${fileId}]];
        const url = `https://writer-link.by/download-file/${fileId}`
        let viewerUrl = `https://docs.google.com/gview?url=${url}&embedded=true`;
        document.getElementById("docViewer").setAttribute("src", viewerUrl);
    </script>
</div>
<div th:if="${isImage}">
    <i class="mx-auto d-block text-center">Если документ не виден в течение 10 секунд, то перезагрузите страницу или скачайте файл.</i>
    <img th:src="|/download-file/| + ${fileId}" class="img-fluid mx-auto d-block" th:alt="${filename}">
</div>
</body>