<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Ошибка</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container">
    <div class="alert alert-danger">
        Произошла ошибка.
        Код: <strong class="" th:text="${code}"></strong>.
        Пожалуйста, сохраните данный текст и отправьте администратору системы! <br/>
        <a th:href="@{/main}">Вернуться на главную</a>
    </div>
    <div class="alert alert-warning" th:text="${message}">
    </div>
    <pre th:text="${error}">
    </pre>
</div>
</body>