<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3>Создать выплату</h3>
    </div>
</div>
<div class="container">
    <form action="/create-payment" class="row" enctype="multipart/form-data" method="post">
        <p>Название/Номер выплаты:</p>
        <input class="form-control" name="payment-number" required type="text">
        <p class="mt-3">Укажите Автора</p>
        <select class="form-select" name="userId" required size="15">
            <option th:each="user : ${users}" th:text="${user.getUsername()} + | (| + ${user.getRolesRus()} + |)|"
                    th:value="${user.getId()}"></option>
        </select>
        <p class="mt-3">Сообщение для автора:</p>
        <textarea class="form-control" name="acc-message" required rows="10"></textarea>
        <p class="mt-3">Прикрепите договор на оплату:</p>
        <input class="form-control" name="acc-file" required type="file">
        <input class="form-control btn btn-primary mt-3" type="submit" value="Создать выплату">
    </form>
</div>
</body>
</html>