<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3>Выберите выплату из списка</h3>
    </div>
    <div class="row">
        <div class="col-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination flex-wrap">
                    <li class="page-item">
                        <a aria-label="Previous" class="page-link"
                           th:href="|/| + ${type} + |-view-payment?page=| + ${page - 1}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:class="|page-item | + ${cPage == page ? 'active' : ''}" th:each="cPage : ${pages}">
                        <a class="page-link" th:href="|/| + ${type} + |-view-payment?page=| + ${cPage}"
                           th:text="${cPage}"></a>
                    </li>
                    <li class="page-item">
                        <a aria-label="Next" class="page-link"
                           th:href="|/| + ${type} + |-view-payment?page=| + ${page + 1}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start"
                th:each="payment : ${payments}">
                <div class="ms-1 me-auto">
                    <p><a th:href="|/payment/| + ${payment.getId()}"><strong
                            th:text="|Выплата: | + ${payment.getNumber()}"></strong></a></p>
                    <p class="m-0" th:text="|Получатель выплаты: | + ${payment.getUsername()}"></p>
                    <p class="m-0"
                       th:text="|Дата обновления: | +  ${#temporals.format(payment.getUpdated(), 'dd.MM.yyyy HH:mm')}"></p>
                    <p class="m-0"
                       th:text="|Дата создания: | +  ${#temporals.format(payment.getCreated(), 'dd.MM.yyyy HH:mm')}"></p>
                </div>
                <span class="badge text-bg-primary rounded-pill" th:text="${payment.getStatus().getRusName()}"></span>
            </li>
        </ul>
    </div>
</div>
</body>