<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Главное меню</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div th:insert="~{main/header :: header-div}"></div>
<div class="container">
    <div class="row">
        <h3>Выплата: <strong th:text="${paymentNumber}"></strong></h3>
    </div>
    <p>Статус выплаты: <strong th:text="${paymentStatus.getRusName()}"></strong></p>
</div>
<div class="container">
    <hr/>

    <p class="m-0">Получаетль выплаты: <strong th:text="${username}"></strong></p>
    <p class="m-0">Создатель выплаты: <strong th:text="${createdByUsername}"></strong></p>

    <hr/>

    <div>
        <p class="m-0">Файлы:</p>
        <ul>
            <li>Файл для подписи: <a target="_blank" th:href="|/load-file/| + ${toSignFileId}">Скачать</a></li>
            <li>Подписанный файл:
                <a target="_blank" th:href="|/load-file/| + ${signedFileId}" th:if="${signedFileId}">Скачать</a>
                <span th:unless="${signedFileId}">Файл ещё не добавлен</span>
            </li>
            <li>Файл чека:
                <a target="_blank" th:href="|/load-file/| + ${fileCheckId}" th:if="${fileCheckId}">Скачать</a>
                <span th:unless="${fileCheckId}">Файл ещё не добавлен</span>
            </li>
        </ul>
    </div>

    <p>Сообщение от бухгалтера:</p>
    <textarea class="form-control" readonly th:text="${accMessage}"></textarea>

    <p class="mt-3" th:if="${userMessage}">Сообщение от автора:</p>
    <textarea class="form-control" readonly th:if="${userMessage}" th:text="${userMessage}"></textarea>

    <hr/>

    <div class="row" th:if="${isUser && isTimeToSendSigned}">
        <form enctype="multipart/form-data" method="post" th:action="|/send-signed-payment/| + ${paymentId}">
            <h5>Прикрепите подписанный файл</h5>
            <p class="m-0">Вам необходимо подписать файл, который прислал бухгалтер. Пожалуйста, прикрепите подписанный
                файл
                ниже. Так же вы можете написать сообщение для бухгалтера.</p>
            <textarea class="form-control mt-2 mb-2" name="user-message"></textarea>
            <input class="form-control" name="signed-file" required type="file">
            <input class="form-control btn btn-primary mt-3" type="submit" value="Отправить файл">
        </form>
    </div>

    <div class="row" th:if="${isAcc && isTimeToSendSigned}">
        <div class="alert alert-warning m-0" role="alert">
            Ожидание подписанного файла.
        </div>
    </div>

    <div class="row" th:if="${isUser && isTimeToPay}">
        <div class="alert alert-warning m-0" role="alert">
            Ожидание выплаты.
        </div>
    </div>

    <div class="row" th:if="${isAcc && isTimeToPay}">
        <form enctype="multipart/form-data" method="post" th:action="|/confirm-payment/| + ${paymentId}">
            <h5>Файлы подготовлены. Произведите выплату.</h5>
            <p class="m-0">Автор прислал подписанный файл. После того, как оплата будет произведена, нажмите на кнопку
                ниже, чтобы
                подтвердить выплату.</p>
            <input class="form-control btn btn-primary mt-3" type="submit" value="Подтвердить выплату">
        </form>
    </div>

    <div class="row" th:if="${isUser && isTimeToSendCheck}">
        <form enctype="multipart/form-data" method="post" th:action="|/send-check-payment/| + ${paymentId}">
            <h5>Прикрепите чек</h5>
            <p class="m-0">Выплата была произведена. Прикрепите файл чека, который подтверждает уплату налога.</p>
            <input class="form-control" name="check-file" required type="file">
            <input class="form-control btn btn-primary mt-3" type="submit" value="Отправить файл">
        </form>
    </div>

    <div class="row" th:if="${isAcc && isTimeToSendCheck}">
        <div class="alert alert-warning m-0" role="alert">
            Ожидание чека от автора.
        </div>
    </div>

    <div class="row" th:if="${isUser && isVerification}">
        <div class="alert alert-warning m-0" role="alert">
            Вы отправили файл чека. Ожидаем проверку файлов и завершения выплаты.
        </div>
    </div>

    <div class="row" th:if="${isAcc && isVerification}">
        <div class="alert alert-warning m-0" role="alert">
            Автор прислал файл чека. Проверьте файлы и завершите или аннулирейте выплату.
        </div>
    </div>

    <div class="row" th:if="${isClosed}">
        <div class="alert alert-success m-0" role="alert">
            Выплата успешно завершена.
        </div>
    </div>

    <div class="row" th:if="${isAnnulled}">
        <div class="alert alert-danger m-0" role="alert">
            <h5>Выплата аннулирована по причине:</h5>
            <p class="m-0" th:text="${annullReason}"></p>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="col-12 col-sm-6 border border-success p-3" th:if="${isAcc && isVerification && !isAnnulled}">
            <form enctype="multipart/form-data" method="post" th:action="|/close-payment/| + ${paymentId}">
                <h5>Завершить выплату</h5>
                <input class="form-control btn btn-success mt-3" type="submit" value="Завершить выплату">
            </form>
        </div>
        <div class="col-12 col-sm-6 border border-danger p-3" th:if="${isAcc && !isAnnulled}">
            <form enctype="multipart/form-data" method="post" th:action="|/annull-payment/| + ${paymentId}">
                <h5>Аннулировать выплату</h5>
                <label class="form-label" for="annull-reason">Причина аннулирования:</label>
                <textarea class="form-control" id="annull-reason" name="annull-reason" required rows="3"></textarea>
                <input class="form-control btn btn-danger mt-3" type="submit" value="Аннулировать выплату">
            </form>
        </div>
    </div>
</div>
</body>
</html>