<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Пользовательское соглашение</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/static/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/favicon.png" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container">
    <h2 class="text-center">Пользовательское соглашение от 09.09.2025</h2>

    <div class="alert alert-danger mt-2 mb-2" role="alert" th:if="${param.notSigned}">
        <h5 class="alert-heading mb-2">Требуется принятие пользовательского соглашения</h5>
        <p class="mb-2">Доступ к услугам сервиса возможен только после принятия Пользовательского соглашения. Это
            обязательное требование, которое <strong>обеспечивает безопасность</strong>, определяет правила
            использования и защищает права обеих сторон.</p>
        <p class="mb-0">Если вы не согласны с условиями, использование сервиса, к сожалению, невозможно.</p>
    </div>

    <form method="post" enctype="multipart/form-data" action="/user-agreement">
        <iframe title="пользовательское соглашение" class="mb-2 w-100"
                height="720"
                src="/static/user-agreement/user-agreement-v1.html"></iframe>
        <div class="p-3 border rounded-1 bg-secondary-subtle">
            <div class="form-check">
                <input class="bg-success form-check-input" type="checkbox" name="is-agree" id="user-agreement-agree">
                <label class="form-check-label" for="user-agreement-agree">
                    Нажимая кнопку «Подписать», я подтверждаю, что ознакомлен(а) и согласен(на) с условиями
                    пользовательского соглашения.
                </label>
                <div class="gap-3 d-block">
                    <input type="submit" class="btn btn-success btn-sm mt-2 mb-2" value="Подписать"
                           id="user-agreement-agree-sign">
                    <a class="btn btn-sm btn-danger mt-2 mb-2" href="/logout">Выйти из системы</a>
                </div>
            </div>
        </div>
    </form>

    <script src="/static/jquery-3.7.1.min.js"></script>
    <script>
        $(document).ready(() => {
            $("#user-agreement-agree-sign").prop("disabled", true);

            $("#user-agreement-agree").click(() => {
                if ($("#user-agreement-agree").is(':checked')) {
                    $("#user-agreement-agree-sign").prop("disabled", false);
                } else {
                    $("#user-agreement-agree-sign").prop("disabled", true);
                }
            });
        });
    </script>
</div>
</body>